@charset "utf-8";
/* CSS Document */
html, body {
	height: 100%;
}
html {
	overflow-x: hidden;
}
body {
	/*background-image: url(../images/bg.jpg);*/
	background-repeat: no-repeat;
	background-size: cover;	
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
}
h1, h2, h3 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
strong {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.19);
}
.container {
	padding-right: 30px;
	padding-left: 30px;
}
#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -70px;
	padding: 0 0 70px;
}
#footer {
	height: 70px;
	color: white;
}
	#footer small {
		font-size: 60%;
	}
	#footer img {
		height: 50px;
		margin-right: 20px;
	}
.col-lg-6 {
	float: none;
}
.logo, .header {
	margin-bottom: 30px;	
}
.header img {
	width: 80%;
	margin-bottom: 20px;
}
.box {
	background-color: rgba(255, 255, 255, .8);
	border: 1px solid white;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.7);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.7);
	padding: 20px;
	margin-bottom: 20px;
}
/* Override by custom css  */
/*
.box-member {
	background-color: #ffeda9;
	border: 1px solid white;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.7);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.7);
	padding: 20px;
	margin-bottom: 20px;
}
*/
.box h2, .box-member h2 {
	margin-top: 0;
}
/* Revisi
.fb-button {
	background-image: url(../images/facebook.png);
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: 100%;
	width: 80%;
	margin: 20px 0;
}
.fb-botton:active, .fb-button.active, .fb-button:hover, .fb-button:focus {
	background-image: url(../images/facebook-press.png);
	background-repeat: no-repeat;
}
*/
.fb-button {
	background-image: url(../images/fb-button.png);
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	margin: 20px 0;
}
.fb-button:active, .fb-button.active, .fb-button:hover, .fb-button:focus {
	background-image: url(../images/fb-button-press.png);
	background-repeat: no-repeat;
}
.tw-button {
	background-image: url(../images/twitter-button.png);
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	margin: 20px 0;
}
.tw-button:active, .tw-button.active, .tw-button:hover, .tw-button:focus {
	background-image: url(../images/twitter-button-press.png);
	background-repeat: no-repeat;
}
.twitter-button {
	background-image: url(../images/twitter.png);
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: 100%;
	width: 80%;
	margin: 20px 0;
}
.twitter-botton:active, .twitter-button.active, .twitter-button:hover, .twitter-button:focus {
	background-image: url(../images/twitter-press.png);
	background-repeat: no-repeat;
}
.btn-xlg {
	padding: 15px 30px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}
/* Override by custom css  */
/*
.btn-primary {
	background-color: #774608;
	border-color: #573102;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #573102;
	border-color: #3C2100;
}
*/
.panel-info {
	border-color: #BDA991;
}
.panel-info>.panel-heading {
	color: #774608;
	background-color: #E7D9C7;
	border-color: #BDA991;
}
.input-lg {
	font-size: 24px;
	height: 60px;
}
.well {
	padding: 0;
	background-color: transparent;
	margin-bottom: 20px;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.twitter-follow {
	background-color: white;
	padding: 20px 20px 15px 20px;
}
.redeem-point {
	font-size: 300%;
	vertical-align: middle;
}
.stripe{
   background-image: url(../images/stripe.png);
   background-repeat: repeat;
}
.amount {
	font-size: 200%;
}
	.amount span {
		font-size: 100%;
	}