/*
	Less Framework 2, version 2.0
	by Joni Korpi
	-----------------------------
	http://lessframework.com
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

body { background:url(http://wooz.in/assets/customs/img/bgr-main.jpg) top center; margin:0px; padding:0px; }

a { text-decoration: none; }
a img { border: 0; }
a:hover { color:#eee; text-decoration:none}
ul { list-style: none; margin-left: 20px }
ol {margin: 10px 0 10px 20px;}
ol li {margin-bottom: 10px}
p { margin-bottom: 1px; }

#container {
	margin: 0px auto;
	width: 1000px;
	overflow: hidden;
	background: none;
}

.mainlogo { width:700px; height:200px; background:none; margin:0 auto; text-align:center }
.content { width:800px; padding:25px 10px; background:white; margin:0 auto;
background: rgba(255, 255, 255, 0.9);
border-radius:15px;
 }


#section-top {
	text-indent: -9999px;
	height: 200px;
	overflow: hidden;
}
#section-top a { display: block; height: 200px; }

#section-side {
	text-indent: -9999px;
	width: 400px;
	height: 400px;
	float: right;
}

#main-box {
	padding: 10px 20px 0px 20px;
	width: 460px;
	min-height: 400px;
	float: left;
}

#footer { width: 500px; font-size: 12px; text-align: left; margin: 0; padding: 8px 0 0; line-height: 1.7em; }
#footer a { margin: 0 8px; font-size: 12px; }
#footer a.home { margin-left: 0; }
#smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: block;}

#footer-bg {
	height: 400px;
}
.clear { clear: both; }

input:focus, textarea:focus { border:solid 1px #666666; background-color:#FFFFCC; }

.error { border: 1px dashed #b18d57; color: #b18d57; padding: 5px 8px; font-size: 12px; }
.redstyle { color:#b18d57; }

.warn { }
.warn h2 { 	font-size: 14px; line-height: 40px;}
.maindiv {
	height: 40px;
	width: 900px;
	color: #fff;
	margin: 0 auto;
}

.intro { width:670px;  margin:0 auto 10px; }
.hai-intro { float:left; width:400px; background-color:none; font-size:22px; font-weight:bold;  }
.btnback { float:right; width:200px; text-align:right; background:none; }

.spotlist { margin-bottom:30px; text-shadow:none; }
.intro p {  font-size:22px; font-weight:bold; }
span.number { color:#e61f26; font-size:26px; }

table.tabelspot { margin:0 auto; border-collapse:collapse; border-top:1px solid #999; color:#666; font-weight:bold;  }
table.tabelspot td { border-bottom:1px solid #999 ; font-size:18px}
td.activelist { color:#e61f26 }


.notable { width:35px; }

.lefttable, .righttable { padding:5px 0; }
.lefttable { width:250px; padding-right:100px;  } 
.righttable { width:250px; }



.respond-redm { text-align:center; text-shadow:none }
.respond-redm a { text-decoration:none }

.btn-redm { display:inline-block;  padding:13px 20px 10px; margin:0 10px 10px; background:#999; color:#666; text-align:center; font-size:20px; font-weight:bold; border-radius:5px; }
.btn-redm:hover { color:#666  }
 
.btn-active { background:#e61f26; color:#fff }
.btn-active { background: #e61f26; /* Old browsers */
background: -moz-linear-gradient(top,  #e61f26 0%, #c01218 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e61f26), color-stop(99%,#c01218)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e61f26 0%,#c01218 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e61f26 0%,#c01218 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e61f26 0%,#c01218 99%); /* IE10+ */
background: linear-gradient(to bottom,  #e61f26 0%,#c01218 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e61f26', endColorstr='#c01218',GradientType=0 ); /* IE6-9 */
 }
.btn-active:hover { color:#fff }
