/*
	Less Framework 2, version 2.0
	by Joni Korpi
	-----------------------------
	http://lessframework.com
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

a { text-decoration: none; }
a img { border: 0; }
a:hover { color:#eee; text-decoration:none}
ul { list-style: none; }
p { margin-bottom: 8px; }
h2, h3 { margin-bottom: 8px; }

#container {
	margin: 0px auto;
	width: 900px;
	height: 640px;
/*	overflow: hidden; */
}

#section-top {
	text-indent: -9999px;
	height: 200px;
	overflow: hidden;
}
#section-top a { display: block; height: 200px; }

#section-side {
	text-indent: -9999px;
	width: 400px;
	height: 440px;
	float: right;
}

#main-box {
	padding: 20px;
	width: 460px;
	min-height: 340px;
	float: left;
}

#footer { width: 500px; font-size: 12px; text-align: left; margin: 0; padding: 5px 0 0; line-height: 1.7em; }
#footer a { margin: 0 8px; font-size: 12px; }
#footer a.home { margin-left: 0; }
#smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: block;}

.clear { clear: both; }
.center { text-align: center; }

input { width: 200px; padding: 2px; margin: 5px 0; }
input:focus, textarea:focus { background-color:#FFFFCC; }

.fb-like-box { padding: 0 0 10px; }
.reg-done { background-color: #FFC;	border:1px dashed #FC6; color:#C00; padding: 3px 10px; }
a.reg-done:hover { background-color: #C00; }

.button { width: 100px; border: 1px solid #FFFFCC; }
.cancel { color: #f00; padding: 3px 18px; }

.error {
	width:auto;
	padding: 3px 10px;
	margin-bottom: 5px;
	background-color: #FFC;
	border:1px dashed #FC6;
	color:#C00;
	font-size: 11px;
	text-align: left;
}
.notify {
	width:auto;
	padding: 8px 12px;
	margin-bottom: 15px;
	background-color: #FFC;
	border:1px dashed #FC6;
	color:#333;
	font-size: 13px;
	text-align: center;
}
.redstyle { color:#b18d57; }
