/*
	Less Framework 2, version 2.0
	by Joni Korpi
	-----------------------------
	http://lessframework.com
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;color: #FFF;
}

a { text-decoration: none; }
a img { border: 0; }
a:hover { color:#eee; text-decoration:none}
ul { list-style: none; margin-left: 20px }
ol {margin: 10px 0 10px 20px;}
ol li {margin-bottom: 10px}
p { margin-bottom: 10px; }

#container {
	margin: 0px auto;
	width: 100%;
	min-height: 640px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	overflow: hidden;
	background: #000;
}
.text-box {
	margin-top: 20px;
	padding-right: 20px;
	width: 260px;
	height: 300px;
	background: rgba(255,0,0,0.5);
}

#header {
	background: url(img/img-tittle2.png) no-repeat;
	height: 65px;
	width:900px;
	overflow: hidden;
}
.bg {
	background: url(img/Untitled-1.jpg) no-repeat;
	height: 596px;
	width: 863px;
	
}

#section-top a { display: block; height: 200px; }

#section-side {
	text-indent: -9999px;
	width: 400px;
	height: 400px;
	overflow: hidden;
	float: right;
}

#.text-box {
	padding: 20px;
	width: 460px;
	min-height: 400px;
	float: left;
}


#footer { width: 500px; font-size: 10px; text-align: left; margin: 0; padding: 50px 0 0; line-height: 1.5em; }
#footer a { margin: 0 8px; font-size: 11px; color: #FFF; }
#footer span {
	color: #FFF;}
#footer a.home { margin-left: 0; }
#smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: block;}

#footer-bg {
	height: 400px;
}
.clear { clear: both; }

input:focus, textarea:focus { border:solid 1px #666666; background-color:#FFFFCC;}

.error { border: 1px dashed #b18d57; color: #b18d57; padding: 5px 8px; font-size: 12px; }
.redstyle { color:#b18d57; }

.warn { }
.warn h2 { 	font-size: 14px; line-height: 40px;}
.maindiv {
	height: 40px;
	width: 900px;
	color: #fff;
	margin: 0 auto;
}

.classname {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	width:45px;
	text-align: center;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab3ba) );
	background:-moz-linear-gradient( center top, #ededed 5%, #bab3ba 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab3ba');
	background-color:#ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:5px 3px;
	text-decoration:none;
	text-shadow:0px 1px 3px #ffffff;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bab3ba), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #bab3ba 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab3ba', endColorstr='#ededed');
	background-color:#bab3ba;
}.classname:active {
	position:relative;
	top:1px;
}

.footer-logo {
	float: right;}