/*
	Less Framework 2, version 2.0
	by Joni Korpi
	-----------------------------
	http://lessframework.com
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

a { text-decoration: none; }
a img { border: 0; }
a:hover { color:#eee; text-decoration:none}
ul { list-style: none; }
p { margin-bottom: 8px; }

#container {
	margin: 0px auto;
	width:1000px; height:1900px;
	overflow: hidden;
	background: #000000;
}

#frame1 {
	margin: 0px auto;
	width: 405px;
	height: 720px;
	overflow: hidden;
	background: #7b0948;
}

#frame2 {
	margin: 0px auto;
	width: 405px;
	height: 720px;
	overflow: hidden;
	background: #7b0948;
}

#frame3 {
	margin: 0px auto;
	width: 405px;
	height: 720px;
	overflow: hidden;
	background: #7b0948;
}

#frame4 {
	margin: 0px auto;
	width: 405px;
	height: 720px;
	overflow: hidden;
	background: #7b0948;
}

#instruction {
	margin: 0px auto;
	width: 920px;
	height: 200px;
	overflow: hidden;

	
}

.clear { clear: both; }


