@charset "utf-8";

/* Custom colors based on company or product color scheme */


.box-member {
	background-color: #ffeda9; /* a light color of company or product color scheme */
	border: 1px solid white;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.7);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.7);
	padding: 20px;
	margin-bottom: 20px;
}

.btn-primary {
	background-color: #774608; /* Company or product color scheme */
	border-color: #573102; /* a darker color of company or product color scheme */
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #573102; /* Darker than .btn-primary background-color */
	border-color: #3C2100; /* Darker than .btn-primary border-color */
}
.panel-info {
	border-color: #BDA991; /* same as .panel-info>.panel-heading border-color */
}
.panel-info>.panel-heading {
	color: #774608; /* same as .btn-primary background-color */
	background-color: #E7D9C7; /* very light color */
	border-color: #BDA991; /* darker than .panel-info>.panel-heading background-color */
}
.btn-warning:hover,.btn-warning:active,.btn-warning.active{
	color:#fff;background-color:#FF0000;border-color:#d58512
}
.error {
	width:auto;
	padding: 3px 10px;
	margin-bottom: 5px;
	background-color: #FFC;
	border:1px dashed #FC6;
	color:#C00;
	font-size: 14px;
	text-align: center;
	font-weight:bold;
}