/*
	Less Framework 2, version 2.0
	by Joni Korpi
	-----------------------------
	http://lessframework.com
*/



/*
	Resets
	------
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object {
    display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}

header { margin-bottom: 30px; }

.topplace{ background: url(../images/rounded/righttop.png) no-repeat top right; }
.bottomplace { background: url(../images/rounded/rightbottom.png) no-repeat top right; }
img.placeborder { width: 20px; height: 20px;border: none;display: block !important; }

.clear { clear: both; }

/*
	Typography presets
	------------------
*/

input:focus {
    border:solid 1px #666666; background-color:#FFFFCC;
}

textarea:focus { border:solid 1px #666666; background-color:#FFFFCC; }

.Muse30015{
    font-weight:300;
    margin:0;
    font-size:15px;
    color:#656565;
    font-weight:bold;
}

.Muse30027 {
    font-weight:300;
    font-size:27px;
    color:#666666;
}

.Muse70030 {
    font-weight:700;
    font-size:30px;
    color:#d22229;
}

.Muse30019x{
    font-weight:500; font-size:19px;
    color:#990000;
    padding-top:20px;
}

.Muse30019reg{
    font-weight:700; font-size:19px;
    color:#990000;
    padding-top:20px;
}

.Muse30018reg{
    font-weight:600; font-size:16px;
    color:#666666;
    padding-top:20px;
}

.Muse30021{
    font-weight:300;
    font-size:19px;
    color:#424242;
    margin-top:16px;
    font-weight:600;
}

.Muse30023{
    font-weight:600;
    font-size:23px;
    color:#d22229;
}

.arial11 {
    font-family: Helvetica, Arial, sans-serif; font-weight:600;
    font-size:11px;
    color:#d22229;
    text-decoration:none;
}

.arial12 {
    font-family: Helvetica, Arial, sans-serif; font-weight:600;
    font-size:12px;
    color:#d22229;
    text-decoration:none;
}

.arial17 {
    font-family: Helvetica, Arial, sans-serif; font-weight:300;
    font-size:17px;
    color:#666666;
}

.arial17reg {
    font-family: Helvetica, Arial, sans-serif; font-weight:300;
    font-size:17px;
    color:#666666;
}

.redstyle { color:#d22229; text-decoration:none; }
.listyle { float:left; width:70px; padding-top:10px; }
.inputtype { width:240px; height:33px; border:solid 1px #cccccc;  }
.boxpopup { margin:14px 12px 0; }

#popuptitle { margin:0 12px 0; height:46px; border-bottom:solid 1px #f1bcbe; }
#popuptitleleft { float:left; width:88px;  }
#popuptitleright { float:right; width:168px; line-height:1.2em; }
.formfooter { margin-top:26px; }

.greystyle { color:#666666; text-decoration:none; }
.titlemember { font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#cc242b;  }
.descmember { font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#aaa;  }

a.topmenuhref:link {color:#686868; text-decoration:none; }
a.topmenuhref:visited {color:#686868; text-decoration:none;}
a.topmenuhref:hover {color:#ce242a; text-decoration:none;}

a.topmenuselected:link {color:#ce242a; text-decoration:none; }
a.topmenuselected:visited {color:#ce242a; text-decoration:none;}
a.topmenuselected:hover {color:#ce242a; text-decoration:none;}

a.Muse30019:link {color:#990000; text-decoration:none; }
a.Muse30019:visited {color:#990000; text-decoration:none;}
a.Muse30019:hover {color:#990000; text-decoration:none;}

::selection 	 {background: rgb(255,255,0);}
::-moz-selection {background: rgb(255,255,0);}

.home li
{
    display: inline;
    list-style-type: none;
    border-right: 2px solid #999;
    padding: 0 10px;
}

.spliter {
    margin-right:10;
    margin-left:10;
    color:#686868;
    width:1px;
    font-weight:300;
    font-size:15px;
}

.navlist li
{
    display: inline;
    list-style-type: none;
}

/*
	Default 5-column, 768 px layout for iPads, netbooks, and IE
	(All other layouts inherit styles from this layout)
	-----------------------------------------------------------
	1      2      3      4      5
	120px  264px  408px  552px  696px   (24px gutters)
*/

body {
    background: rgb(232,232,232);
    width: 100%;
    background-image:url(../images/tilebg.gif);
}

header { margin-bottom: 30px; }

.maindiv {
    width: 1128px;
    margin: 0 auto;
    padding: 0;
    clear:both;
}

#stripmerah {
    padding-top:11px;
    height:24px;
    background-image: url(../images/tiletop.gif);
    background-repeat: repeat-x;
    background-position: top left
}

#topmenu {
    height:28px;
    text-align:right;
    margin-bottom:10px;
}

#hometagline { width:288px; height:189px; float:left; line-height: 1.3em; margin-left: 20px; }
#hometagline h1 { margin-top: 40px; color: #D32229; display: block; font-size: 33px; line-height: 28px; letter-spacing: -2px; }
#hometagline p { color: #999; display: block; font-size: 25px; }

#homeright { width:244px; height:144px; float:right; padding-top: 45px; }

#idlogo {
    width:219px; height:189px; float:left; margin: 0 20px 0 0;
    text-indent: -9999px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: top left
}
#idlogo a { width:219px; height:189px; display: block; }

#btntxt { width:124px; height:71px; float:right; }
#btnloc { width:86px; height:71px; float:right; }

#bigbanner { display:block; }

#bannerhome1 {
    color: #fff;
    background-image:url(../images/bigbanner_left.png);
    width:552px; height:352px; float:left;
}
#bannerhome2 { width:576px; height:352px; float:left; }
#bannerhome2 a { width:576px; height:352px; display: block; }

#howto { height: 222px; margin: 0; padding: 20px; color: #ccc; }
#howto h3 { color: #fff; margin: 5px 15px 0; padding: 0px 5px; }
#howto ol { color: #fff; margin: 0 15px; padding: 4px; }
#howto li { color: #fff; margin: 5px 15px; padding: 4px; list-style: decimal; }

#bigsign { height: 70px; }
#bigsign a { display: block; height: 70px; margin:0; padding:0; text-indent:-9999px;}

#left {
    float: left;
    width: 408px;
    padding: 46px 0 0;
    min-height:670px;
}

#right {
    float: left;
    width: 264px;
    padding: 46px 0 0;
    min-height: 670px;
}

#middle {
    float: left;
    width: 408px;
    padding:46px 24px 0;
    min-height:670px;
}

.titleplace { height:41; font-weight:300; font-size:25px; color:#d32229; }
.titleplace2 { height:62; font-weight:300; font-size:25px; color:#d32229; }
.boxhiglight { padding: 10px 0 20px; margin: 16px 0; background-color:#FFFFFF; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

.clearmargin { margin: 0 10px 0 10px; }

.boxhighlight4 { margin: 16px 0; padding: 0; }
.boxhighlight4 ul li { list-style:none; margin: 0 0 20px; padding: 0; }

.boxhiglight p { background-color:#fff; margin: 0 10px; }
.boxhighlight ul, li { list-style:none; margin: 0 10px; padding: 0; }

.licontent { margin-top:10px; min-height:66px; border-bottom:dashed 1px #999; }

.foto { border:solid 1px #999; }

.picplace { width:50px; min-height:65px; float:left; margin-right: 10px; }
.contplace { width:265px; float:left; line-height:1.4em; padding: 0 0 10px 0; }
.iconplace { width:50px; min-height:65px; float:right; margin-left: 10px; }
.cont2place { width:320px; float:left; line-height:1.4em; margin-left: 5px; padding: 0 0 10px 0; }

#footer { clear:both; min-height:62px; margin-bottom: 10px; }
#footer a { margin: 0 8px; }
#smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: block;}

/*
	Overrides for iPhone 4 and other high device-pixel-ratio devices
	----------------------------------------------------------------
*/

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

}

