/*
	Less Framework 2, version 2.0
	by Joni Korpi
	-----------------------------
	http://lessframework.com
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object {
    display: block;
}

a { text-decoration: none; }
a img {border: 0;}
ul { list-style: none; }

img.placeborder { width: 20px; height: 20px;border: none;display: block !important; }

.clear { clear: both; }

input:focus, textarea:focus { border:solid 1px #666666; background-color:#FFFFCC; }

.Muse30015{ font-weight:300; margin:0; font-size:15px; color:#656565; font-weight:bold; }
.Muse30027 { font-weight:300; font-size:27px; color:#666666; }
.Muse70030 { font-weight:700; font-size:30px; color:#d22229; }
.Muse30019x{ font-weight:500; font-size:19px; color:#990000; padding-top:20px; }
.Muse30019reg{ font-weight:700; font-size:19px; color:#990000; padding-top:20px; }
.Muse30018reg{ font-weight:600; font-size:16px; color:#666666; padding-top:20px; }
.Muse30021{ font-weight:300; font-size:19px; color:#424242; margin-top:16px; font-weight:600; }
.Muse30023{ font-weight:600; font-size:23px; color:#d22229; }
.arial11 { font-family: Helvetica, Arial, sans-serif; font-weight:600; font-size:11px; color:#d22229; text-decoration:none; }
.arial12 { font-family: Helvetica, Arial, sans-serif; font-weight:600; font-size:12px; color:#d22229; text-decoration:none; }
.arial17 { font-family: Helvetica, Arial, sans-serif; font-weight:300; font-size:17px; color:#666666; }
.arial17reg { font-family: Helvetica, Arial, sans-serif; font-weight:300; font-size:17px; color:#666666; }

.redstyle { color:#d22229; }
.listyle { float:left; width:70px; padding-top:10px; }
.inputtype { width:240px; height:33px; border:solid 1px #cccccc;  }
.boxpopup { margin:14px 12px 0; }

#popuptitle { margin:0 12px 0; height:46px; border-bottom:solid 1px #f1bcbe; }
#popuptitleleft { float:left; width:88px;  }
#popuptitleright { float:right; width:168px; line-height:1.2em; }
.formfooter { margin-top:26px; }

.greystyle { color:#666666; }
.titlemember { font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#cc242b;  }
.descmember { font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#aaa;  }

a.topmenuhref:link {color:#686868; }
a.topmenuhref:visited {color:#686868; }
a.topmenuhref:hover {color:#ce242a; }

a.topmenuselected:link {color:#ce242a; }
a.topmenuselected:visited {color:#ce242a; }
a.topmenuselected:hover {color:#ce242a; }

a.Muse30019:link {color:#990000; }
a.Muse30019:visited {color:#990000; }
a.Muse30019:hover {color:#990000; }

::selection 	 {background: rgb(255,255,0);}
::-moz-selection {background: rgb(255,255,0);}

.home li { display: inline; list-style-type: none; border-right: 2px solid #999; padding: 0 10px; }
.spliter { margin: 0 10; color:#686868; width:1px; font-weight:300; font-size:15px; }
.navlist li { display: inline; list-style-type: none; }

body { background: rgb(232,232,232); background-image:url(../images/tilebg.gif); }
header { margin: 0 0 30px; background: url(../images/tiletop.gif) top left repeat-x; padding: 24px 0 0; }

.maindiv { width: 1128px; margin: 0 auto; padding: 0; clear:both; }

#topmenu { text-align:right; margin: 0 0 10px; padding: 0; }

#idlogo { width:219px; height:189px; float:left; margin: 0 40px 0 0; text-indent: -9999px; background: url(../images/logo.png) no-repeat top left; }
#idlogo a { width:219px; height:189px; display: block; }

#hometagline { width:288px; height:189px; float:left; line-height: 1.3em; }
#hometagline h1 { margin-top: 40px; color: #D32229; display: block; font-size: 33px; line-height: 28px; letter-spacing: -2px; }
#hometagline p { color: #999; display: block; font-size: 25px; }

#homeright { width:244px; height:144px; float:right; padding-top: 45px; }

#btntxt { width:124px; height:71px; float:right; }
#btnloc { width:86px; height:71px; float:right; }

#bigbanner { display:block; }

#bannerhome1 { color: #fff; background:url(../images/bigbanner_left.png) left top no-repeat; width:552px; height:352px; float:left; }
#bannerhome2 { width:576px; height:352px; float:left; }
#bannerhome2 a { width:576px; height:352px; display: block; }

#howto { height: 222px; margin: 0; padding: 20px; color: #ccc; }
#howto h3 { color: #fff; margin: 5px 15px 0; padding: 0px 5px; }
#howto ol { color: #fff; margin: 0 15px; padding: 4px; }
#howto li { color: #fff; margin: 5px 15px; padding: 4px; list-style: decimal; }

#bigsign { height: 70px; }
#bigsign a { display: block; height: 70px; margin:0; padding:0; text-indent:-9999px;}

#left { float: left; width: 408px; padding: 46px 0 0; }
#right { float: left; width: 264px; padding: 46px 0 0; }
#middle { float: left; width: 408px; padding:46px 24px 0; }

.titleplace { font-weight:300; font-size:25px; color:#d32229; }
.titleplace2 { font-weight:300; font-size:25px; color:#d32229; }
.boxhiglight { padding: 10px 0 20px; margin: 16px 0; background-color:#FFFFFF; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

.clearmargin { margin: 0 10px 0 10px; }

.boxhiglight p { background-color:#fff; margin: 0 10px; }
.boxhighlight4 { margin: 16px 0; padding: 0; }
.boxhighlight4 ul li { list-style:none; margin: 0 0 20px; padding: 0; }

.licontent { margin:10px 0 0; min-height:66px; border-bottom:dashed 1px #999; }

.picplace { width:50px; float:left; margin-right: 10px; }
.contplace { width:265px; float:left; line-height:1.4em; padding: 0 0 10px 0; }
.iconplace { width:50px; float:right; margin-left: 10px; }
.cont2place { width:320px; float:left; line-height:1.4em; margin-left: 5px; padding: 0 0 10px 0; }

#footer { clear:both; min-height:62px; margin: 10px 0; line-height: 2em; }
#footer a { margin: 0 8px; }
#smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: block;}

/*	Default 8-column layout
	60 px columns, 24 px gutters, 60 px margins, 768 px total
	---------------------------------------------------------
	1     2      3      4      5      6      7      8
	60px  144px  228px  312px  396px  480px  564px  648px	*/

.maindiv { width: 648px; }

/*	3-column layout
	60 px columns, 24 px gutters, 46 px margins, 320 px total
	---------------------------------------------------------
	1     2      3
	60px  144px  228px	*/

@media only screen and (max-width: 479px) {
    .maindiv { width: 90%; }

    header { margin: 0 0 10px; padding: 12px 0 0; }

    #topmenu { text-align:center; margin: 0 0 18px; padding: 0; }
    .home li { display: inline; list-style-type: none; border-right: 2px solid #999; padding: 0 5px; }

    #idlogo { width:60px; height:70px; float:left; margin: 0 20px 0 0; text-indent: -9999px; background: url(../images/smalllogo.png) no-repeat top left; }
    #idlogo a { width:60px; height:70px; display: block; }

    #hometagline { width:288px; height:70px; float:left; line-height: 1.3em; }
    #hometagline h1 { margin: 0px; color: #D32229; display: block; font-size: 33px; line-height: 28px; letter-spacing: -2px; }
    #hometagline p { color: #999; display: block; font-size: 25px; }

    #homeright { width:144px; height:144px; float:right; padding-top: 45px; display: none; }

    #btntxt { width:124px; height:71px; float:right; }
    #btnloc { width:86px; height:71px; float:right; }

    #bigbanner { display:none; }

    #bannerhome1 { color: #fff; background:url(../images/bigbanner_left.png) left top no-repeat; width:417px; height:352px; float:left; }
    #bannerhome2 { width:561px; height:352px; float:left; overflow: hidden; }
    #bannerhome2 a { width:561px; height:352px; display: block; }

    #howto { height: 242px; margin: 0; padding: 10px; color: #ccc; }
    #howto h3 { color: #fff; margin: 5px 10px 0; padding: 0px 5px; }
    #howto ol { color: #fff; margin: 0 15px; padding: 4px; }
    #howto li { color: #fff; margin: 5px 15px; padding: 4px; list-style: decimal; }

    #bigsign { height: 70px; }
    #bigsign a { display: block; height: 70px; margin:0; padding:0; text-indent:-9999px;}

    #left { float: none; width: 100%; padding: 0; }
    #right { float: none; width: 100%; padding: 0; clear: both; display: none; }
    #middle { float: none; width: 100%; padding: 0; }

    .titleplace { font-weight:300; font-size:25px; color:#d32229; }
    .titleplace2 { font-weight:300; font-size:25px; color:#d32229; }
    .boxhiglight { padding: 10px 0 20px; margin: 16px 0; background-color:#FFFFFF; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    .clearmargin { margin: 0 10px 0 10px; }

    .boxhiglight p { background-color:#fff; margin: 0 10px; }
    .boxhighlight4 { margin: 16px 0; padding: 0; }
    .boxhighlight4 ul li { list-style:none; margin: 0 7px; padding: 0; float: left; }

    .licontent { margin:10px 0 0; min-height:66px; border-bottom:dashed 1px #999; }

    .picplace { width:50px; float:left; margin-right: 10px; display: none; }
    .contplace { width:100%; float:left; line-height:1.4em; padding: 0 0 10px 0; }
    .iconplace { width:50px; float:right; margin-left: 10px; display: none; }
    .cont2place { width:100%; float:left; line-height:1.4em; margin-left: 5px; padding: 0 0 10px 0; }

    #footer { clear:both; min-height:62px; margin: 10px 0; text-align: center; line-height: 2em; }
    #footer a { margin: 0 8px; }
    #smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: none;}

}

/*	5-column layout
	60 px columns, 24 px gutters, 42 px margins, 480 px total
	---------------------------------------------------------
	1     2      3      4      5
	60px  144px  228px  312px  396px	*/

@media only screen and (max-width: 769px) and (min-width: 480px) {
    .maindiv { width: 732px; }
    header { margin: 0 0 10px; padding: 24px 0 0; }

    #topmenu { text-align:center; margin: 0 0 10px; padding: 0; }

    #idlogo { width:219px; height:189px; float:left; margin: 0 40px 0 0; text-indent: -9999px; background: url(../images/logo.png) no-repeat top left; }
    #idlogo a { width:219px; height:189px; display: block; }

    #hometagline { width:288px; height:189px; float:left; line-height: 1.3em; }
    #hometagline h1 { margin-top: 40px; color: #D32229; display: block; font-size: 33px; line-height: 28px; letter-spacing: -2px; }
    #hometagline p { color: #999; display: block; font-size: 25px; }

    #homeright { width:144px; height:144px; float:right; padding-top: 45px; display: block; }

    #btntxt { width:124px; height:71px; float:right; }
    #btnloc { width:86px; height:71px; float:right; }

    #bigbanner { display:none; }

    #bannerhome1 { color: #fff; background:url(../images/bigbanner_left.png) left top no-repeat; width:417px; height:352px; float:left; }
    #bannerhome2 { width:561px; height:352px; float:left; overflow: hidden; }
    #bannerhome2 a { width:561px; height:352px; display: block; }

    #howto { height: 242px; margin: 0; padding: 10px; color: #ccc; }
    #howto h3 { color: #fff; margin: 5px 10px 0; padding: 0px 5px; }
    #howto ol { color: #fff; margin: 0 15px; padding: 4px; }
    #howto li { color: #fff; margin: 5px 15px; padding: 4px; list-style: decimal; }

    #bigsign { height: 70px; }
    #bigsign a { display: block; height: 70px; margin:0; padding:0; text-indent:-9999px;}

    #left { float: left; width: 353px; padding: 0; }
    #right { float: none; width: 100%; padding: 12px 0 0; clear: both; display: block; }
    #middle { float: left; width: 353px; padding: 0 0 0 24px; }

    .titleplace { font-weight:300; font-size:25px; color:#d32229; }
    .titleplace2 { font-weight:300; font-size:25px; color:#d32229; }
    .boxhiglight { padding: 10px 0 20px; margin: 16px 0; background-color:#FFFFFF; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    .clearmargin { margin: 0 10px 0 10px; }

    .boxhiglight p { background-color:#fff; margin: 0 10px; }
    .boxhighlight4 { margin: 16px 0; padding: 0; }
    .boxhighlight4 ul li { list-style:none; margin: 0 7px; padding: 0; float: left; }

    .licontent { margin:10px 0 0; min-height:66px; border-bottom:dashed 1px #999; }

    .picplace { width:50px; float:left; margin-right: 10px; display: block; }
    .contplace { width:180px; float:left; line-height:1.4em; padding: 0 0 10px 0; }
    .iconplace { width:50px; float:right; margin-left: 10px; display: block; }
    .cont2place { width:235px; float:left; line-height:1.4em; margin-left: 5px; padding: 0 0 10px 0; }

    #footer { clear:both; min-height:62px; margin: 10px 0; text-align: center; line-height: 2em; }
    #footer a { margin: 0 8px; }
    #smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: block;}

}

/*	10-column layout
	60 px columns, 24 px gutters, 42 px margins, 480 px total
	---------------------------------------------------------
	1     2      3      4      5
	60px  144px  228px  312px  396px	*/

@media only screen and (max-width: 1211px) and (min-width: 770px) {
    .maindiv { width: 978px; }
    #topmenu { text-align:right; margin: 0 0 10px; padding: 0; }

    #idlogo { width:219px; height:189px; float:left; margin: 0 40px 0 0; text-indent: -9999px; background: url(../images/logo.png) no-repeat top left; }
    #idlogo a { width:219px; height:189px; display: block; }

    #hometagline { width:288px; height:189px; float:left; line-height: 1.3em; }
    #hometagline h1 { margin-top: 40px; color: #D32229; display: block; font-size: 33px; line-height: 28px; letter-spacing: -2px; }
    #hometagline p { color: #999; display: block; font-size: 25px; }

    #homeright { width:244px; height:144px; float:right; padding-top: 45px; display: block; }

    #btntxt { width:124px; height:71px; float:right; }
    #btnloc { width:86px; height:71px; float:right; }

    #bigbanner { display:block; }

    #bannerhome1 { color: #fff; background:url(../images/bigbanner_left.png) left top no-repeat; width:417px; height:352px; float:left; }
    #bannerhome2 { width:561px; height:352px; float:left; overflow: hidden; }
    #bannerhome2 a { width:561px; height:352px; display: block; }

    #howto { height: 242px; margin: 0; padding: 10px; color: #ccc; }
    #howto h3 { color: #fff; margin: 5px 10px 0; padding: 0px 5px; }
    #howto ol { color: #fff; margin: 0 15px; padding: 4px; }
    #howto li { color: #fff; margin: 5px 15px; padding: 4px; list-style: decimal; }

    #bigsign { height: 70px; }
    #bigsign a { display: block; height: 70px; margin:0; padding:0; text-indent:-9999px;}

    #left { float: left; width: 323px; padding: 26px 0 0; }
    #right { float: left; width: 264px; padding: 26px 0 0; display: block; }
    #middle { float: left; width: 323px; padding: 26px 24px 0; }

    .titleplace { font-weight:300; font-size:25px; color:#d32229; }
    .titleplace2 { font-weight:300; font-size:25px; color:#d32229; }
    .boxhiglight { padding: 10px 0 20px; margin: 16px 0; background-color:#FFFFFF; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    .clearmargin { margin: 0 10px 0 10px; }

    .boxhiglight p { background-color:#fff; margin: 0 10px; }
    .boxhighlight4 { margin: 16px 0; padding: 0; }
    .boxhighlight4 ul li { list-style:none; margin: 0 0 20px; padding: 0; }

    .licontent { margin:10px 0 0; min-height:66px; border-bottom:dashed 1px #999; }

    .picplace { width:50px; float:left; margin-right: 10px display: block; }
    .contplace { width:180px; float:left; line-height:1.4em; padding: 0 0 10px 0; }
    .iconplace { width:50px; float:right; margin-left: 10px; display: block; }
    .cont2place { width:235px; float:left; line-height:1.4em; margin-left: 5px; padding: 0 0 10px 0; }

    #footer { clear:both; min-height:62px; margin: 10px 0; text-align: left; line-height: 2em; }
    #footer a { margin: 0 8px; }
    #smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: block;}

}

/*	13-column layout
	60 px columns, 24 px gutters, 72 px margins, 1212 px total (extra space for scrollbars)
	---------------------------------------------------------------------------------------
	1     2      3      4      5      6      7      8      9      10     11     12     13
	60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px  984px  1068px	*/

@media only screen and (min-width: 1212px) {
    .maindiv { width: 1128px; }

    #topmenu { text-align:right; margin: 0 0 10px; padding: 0; }

    #idlogo { width:219px; height:189px; float:left; margin: 0 40px 0 0; text-indent: -9999px; background: url(../images/logo.png) no-repeat top left; }
    #idlogo a { width:219px; height:189px; display: block; }

    #hometagline { width:288px; height:189px; float:left; line-height: 1.3em; }
    #hometagline h1 { margin-top: 40px; color: #D32229; display: block; font-size: 33px; line-height: 28px; letter-spacing: -2px; }
    #hometagline p { color: #999; display: block; font-size: 25px; }

    #homeright { width:244px; height:144px; float:right; padding-top: 45px; display: block; }

    #btntxt { width:124px; height:71px; float:right; }
    #btnloc { width:86px; height:71px; float:right; }

    #bigbanner { display:block; }

    #bannerhome1 { color: #fff; background:url(../images/bigbanner_left.png) left top no-repeat; width:552px; height:352px; float:left; }
    #bannerhome2 { width:576px; height:352px; float:left; }
    #bannerhome2 a { width:576px; height:352px; display: block; }

    #howto { height: 222px; margin: 0; padding: 20px; color: #ccc; }
    #howto h3 { color: #fff; margin: 5px 15px 0; padding: 0px 5px; }
    #howto ol { color: #fff; margin: 0 15px; padding: 4px; }
    #howto li { color: #fff; margin: 5px 15px; padding: 4px; list-style: decimal; }

    #bigsign { height: 70px; }
    #bigsign a { display: block; height: 70px; margin:0; padding:0; text-indent:-9999px;}

    #left { float: left; width: 408px; padding: 46px 0 0; }
    #right { float: left; width: 264px; padding: 46px 0 0; display: block; }
    #middle { float: left; width: 408px; padding:46px 24px 0; }

    .titleplace { font-weight:300; font-size:25px; color:#d32229; }
    .titleplace2 { font-weight:300; font-size:25px; color:#d32229; }
    .boxhiglight { padding: 10px 0 20px; margin: 16px 0; background-color:#FFFFFF; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    .clearmargin { margin: 0 10px 0 10px; }

    .boxhiglight p { background-color:#fff; margin: 0 10px; }
    .boxhighlight4 { margin: 16px 0; padding: 0; }
    .boxhighlight4 ul li { list-style:none; margin: 0 0 20px; padding: 0; }

    .licontent { margin:10px 0 0; min-height:66px; border-bottom:dashed 1px #999; }

    .picplace { width:50px; float:left; margin-right: 10px; display: block; }
    .contplace { width:265px; float:left; line-height:1.4em; padding: 0 0 10px 0; }
    .iconplace { width:50px; float:right; margin-left: 10px; display: block; }
    .cont2place { width:320px; float:left; line-height:1.4em; margin-left: 5px; padding: 0 0 10px 0; }

    #footer { clear:both; min-height:62px; margin: 10px 0; text-align: left; line-height: 2em; }
    #footer a { margin: 0 8px; }
    #smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: block;}

}


