/*  
Theme Name: CMS Admin Indonesia Kreatif
Theme URI: http://www.indonesiakreatif.net/
Description: CMS Admin Portal, Showcase & Bazaar Indonesia Kreatif
Version: R1
Author: Rochman Fathoni, Alit Mahendra, Erwin Handoko, & Hendra Athoila CS, Irfan Bagus, Dwi Febri S
Author URI: http://www.indonsiakreatif.net/
*/


body {
	margin:0; padding:0;
	background:#f5f8f9 url(../images/admin/bgrmaintop.gif) repeat-x;
	font:normal 12px  Arial, Helvetica, sans-serif; color:#666;
}

img {
	border:0;
}

blockquote {
	margin:0 auto 15px auto; padding:15px;
	width:80%;
	background:#f0f4f7;
	border:1px solid #d9e4ef;
	color:#666;
}

.clear{ clear:both; height:0px; font-size:0px; line-height:0px; content:"";  }

/* ----------------------------------------------*/
/* B - TYPOGRAPHY */
/* ----------------------------------------------*/
h1 {
	font:bold 24px Arial, Helvetica, sans-serif; color:#333;
	margin:0px; padding:0px;
	line-height:30px;
	}
	
h2 {
	margin:0; padding:0;
	font:bold 22px Arial, Helvetica, sans-serif; color:#333;
	}
	
h3 {
	margin:0; padding:0;
	font:bold 18px Arial, Helvetica,  sans-serif; color:#333;
	}
	
h4 {
	margin:0px; padding:0px;
	font:bold 14px Arial, Helvetica, sans-serif; color:#333;
	}
	
h5 {
	margin:0; padding:0;
	font:bold 12px Arial, Helvetica, sans-serif; color:#333;
	}
	
h6 {
	font:normal 11px Arial, Helvetica, sans-serif; color:#333;
	line-height:15px;
	padding:0px; margin:0px;
	}

	
/* a */
a {
	color:#1989df;
	text-decoration:none;
	}
	
a:hover {
	color:#4c5f8a;
	text-decoration:underline;
	}

	
/* p */
p {
	margin:0px; padding:5px 0px 10px 0px;
	color:#333;
	font:normal 12px  Arial, Helvetica, sans-serif;
	line-height:19px;
	}
	
	.post-content p {
		margin:0px; padding:8px 0px 25px 0px;
		font:normal 12px Arial, Helvetica, sans-serif; color:#3e3e3e; line-height:20px;	
		}
		

/* Misc. */
.post-content p img, .post-content p img.left {
	padding: 3px 20px 10px 0px;
  	margin: 0px 0px 0px 0px;
  	border-radius: 0px;
  	-moz-border-radius: 0px;
}

.post-content p img.right {
	padding: 3px 0px 10px 20px;
  	border-radius: 4px;
  	-moz-border-radius: 4px;
}

.post-content p img.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	padding:0px 0px 10px 0px;
	}

.post-content ul {
	padding:0px; margin:0px;
	color:#333;
}

.post-content ul li {
	color:#333;
	margin-left:65px; padding:0px 0px 10px 0px;
	line-height:20px;
	list-style-type:disc;
	}
	
.post-content ol {
	padding-bottom:20px; margin:0px;
}

.post-content ol li {
	color:#333;
	list-style-type:decimal;
	margin-left:30px; padding:0px 0px 10px 0px;
	line-height:20px;
	}



/* ----------------------------------------------*/
/* C - STRUCTURE */
/* ----------------------------------------------*/

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 0;
}


.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	padding:0px;
	}
	
.left {
	float:left;
}

.right {
	float:right;
}


.container {
	margin:0 auto; padding:0;
	width:940px; height:auto;
	background-color:#fff;
}
	
#header {
	width:960px; height:46px;
	margin:0px auto 0 auto; padding:0px 0;
	}

#middle {
	width:960px; height:auto;
	margin:0px auto; padding:0px 0;
	}
	
#footer {
	width:960px; height:auto;
	margin:0px auto; padding:0px 0;
	}
/* partial structure */

/*header*/
.menustatus {
	padding-top:25px;
	float:right;
	padding-right:35px;
	}

.menustatus h5 {
	margin:0px; padding:0px;
	font:normal 12px Arial, Helvetica, sans-serif; color:#666;
	}
.menustatus h6 {
	margin:0px; padding:6px 0 0 0;
	text-align:right;
	font:normal 11px Arial, Helvetica, sans-serif; color:#666;
	}
	
/*middle*/
.middletop {   /* menu */
	width:910px; height:48px;
	padding:25px 20px 0 20px;
	background:url(../images/admin/menubgr.gif) no-repeat;
	}
.middletopsub { /* submenu */
	width:900px; height:auto;
	padding:8px 30px 8px 30px;
	background:url(../images/admin/submenubgr.gif) repeat-y;
	}
.middlecontent { /* side Left Right */
	width:940px; height:auto;
	padding:0 10px;
	background:url(../images/admin/contentbgr.gif) repeat-y;
	}
.middlebottom {
	width:960px; height:auto;
	padding:0px 0px;
	background:url(../images/admin/contentbgr.gif) repeat-y;
	}
	
/* menu */
h4.menu {
	padding:0 15px 30px 15px; margin:0px;
	font:normal 14px Arial, Helvetica, sans-serif; color:#fff;
	float:left;
	}
	
h4.menuactive {
	padding:0 10px 17px 10px; margin:0px;
	font:normal 14px Arial, Helvetica, sans-serif; color:#fff;
	background: url(../images/admin/pointmenu.gif) no-repeat center bottom;
	float:left;
	}
	
h4.menu a {
	color:#fff;
	}
h4.menu a:hover {
	color:#a8f8f5;
	text-decoration:none;
	}
	
h4.menuactive a {
	color:#fff;
	}
h4.menuactive a:hover {
	color:#fff;
	text-decoration:none;
	}
	
/* submenu */
h5.submenu {
	margin:0px; padding-left:10px; padding-right:10px;
	font:normal 12px Arial, Helvetica, sans-serif; color:#333;
	float:left;
	}
	
h5.submenuactive {
	margin:0px; padding-left:10px; padding-right:10px;
	font:bold 12px Arial, Helvetica, sans-serif; color:#333;
	float:left;
	}
	
h5.submenu a {
	color:#4c5f8a;
	}
h5.submenu a:hover {
	color:#333;
	text-decoration:none;
	}
	
h5.submenuactive a {
	color:#4c5f8a;
	}
h5.submenuactive a:hover {
	color:#333;
	text-decoration:none;
	}


/*middle content LEFT */
.sideleft {
	width:200px; height:auto;
	padding:0 15px;
	float:left;
	}
/*middle content RIGHT */
.sideright {
	width:910px; height:auto;
	padding:0 15px;
	}
	
/*sidewindow*/
.sidewindow {
	width:200px; height:auto;
	margin-bottom:15px;
	}
	
.sidewindowtop {
	width:auto; height:17px;
	padding:7px 10px 5px 10px;
	background-color:red;
	background:url(../images/admin/sidebarwindowtop.gif) no-repeat;
	}
	
	.sidewindowtop h5 {
		margin:0px; padding:0px;
		font:bold 11px Arial, Helvetica, sans-serif; color:#666;
		}
	
.sidewindowmiddle {
	padding-bottom:10px;
	background:url(../images/admin/sidebarwindowbtm.gif) no-repeat bottom;
	}
	
	.sidewindowmiddle ul {
		border:1px solid #ccc;
		border-width:0 1px;
		margin:0px; padding:0px;
		list-style-type:none;
		}
	
	.sidewindowmiddle li {
		margin:0px; padding:7px 5px 7px 22px;
		border-bottom:1px solid #ccc;
		font-size:11px;
		color:#666;
		background:url(../images/admin/arrowa.gif) no-repeat top left;
		background-position:10px 9px;
		}
		
	.sidewindowmiddle a {
		color:#666;	
		}
	.sidewindowmiddle a:hover {
		color:#C00;
		text-decoration:none;
		}
	
	
/* form fields */
#formfields {
	width:100px; 
	}

	
/* footerspacer */
.footerspacer {
	width:940px; height:15px; 
	margin:0 auto;  
	border-top:1px solid #ccc;
	}

/* footer */
.middlefooter {
	width:910px; height:auto;
	padding:0px 25px 25px 25px;
	background:url(../images/admin/contentbtmbgr.gif) no-repeat bottom;
	}
	
.middlefooterleft {
	padding-right:20px;
	float:left;
	}
.middlefooterright {
	padding-left:20px;
	float:right;
	}
	
/* Tab */
#tabs {
	width: 890px; height:38px;
	margin: 0;
	padding:10px 10px 0 10px; 
	background:url(../images/admin/formpaneltop.gif) no-repeat;
	}

#tabsbottom {
	width: 910px; height:25px;
	padding: 0px; margin-bottom:10px; 
	background:url(../images/admin/formpanelbottomsh.gif) no-repeat bottom;
	}

.panel {
	width: 908px;
	border: solid 1px #ccc;
	border-width:0 1px;
	font:normal 11px Arial, Helvetica, sans-serif;
	background:#ececec;
	clear: left;
	}

.notfound h4 {
	padding: 9px 10px;
	}
			
.tab_bdr {
	height: 4px;
	background:#ececec;
	clear: left;
	border: solid 1px #ccc;
	border-width:0 1px;
	}

.tab {
	height: 23px;
	font:normal 14px Arial, Helvetica, sans-serif; color: #5d5d5d;
	background:#e1e1e1;
	cursor:pointer;
	border-bottom: 1px solid #8e8e8e;
	padding:9px 10px 5px 10px;
	float: right;
	background:url(../images/admin/subtab.gif) repeat-x top left;
	}

.tab_sel {
	height: 23px;
	font:normal 14px Arial, Helvetica, sans-serif; color: #5d5d5d;
	background:#ececec;
	cursor: pointer;
	border-bottom: 1px solid #ececec;
	padding:9px 10px 5px 10px;
	float: right;
	background:url(../images/admin/subtab-active.gif) repeat-x top left;
	}
	
/* form panel */
.formpanel {
	width:auto; height:auto;
	padding:10px;
	}

div.formpanel label.smallinput input, label.mediuminput input, label.largeinput input {
	border:1px solid #ccc;
	color:#333;
	background-color:#fff;
	font-size:12px;
	padding:5px;
	margin:2px 0 0px 0;
	}
	
.formpanel p {
	margin:0px; padding:0px 0 7px 0;
	}
.formpanel h6 {
	margin:0px 0 10px 0; padding:0px;
	color:#666;
	}

.formpanel h6.warning {
	margin:0px 0 20px 0; padding:0px;
	color:red;
	}

div.formpanel label.textarea textarea {
color:#666;
font:normal 12px Arial, Helvetica, sans-serif; color:#333;
width:98%; height:115px;
padding:5px; margin:5px 0 0 0;
}

#excerpt {
	height: 100px;
	}

#isi {
	height: 100px;
	}

.listcheckbox {
	width:50%;
	padding:5px; margin:0px;
	background-color:white;
	border:1px solid #ccc;
	}
.listcheckbox ul {
	margin:0px; padding:0px;
	list-style-type:none;
	font:normal 12px Arial, Helvetica, sans-serif; color:#333;
	}
.listcheckbox li {
	margin:0px; padding:0px;
	list-style-type:none;
	}
	
.listcheckbox ul ul {
	margin:0px 0 5px 0; padding-left:20px;
	list-style-type:none;
	}
.listcheckbox li li {
	margin:0px; padding-left:20px;
	list-style-type:none;
	}

.listmenus {
	width:50%;
	border:1px solid #ccc;
	color:#333;
	background-color:#fff;
	font-size:12px;
	padding:5px;
	margin:2px 0 0px 0;
	}

/* edit page title */
.titlepage {
	padding:10px 0 10px 5px;
	}
	
/* paragraph */
.paragraph {
	width:auto;
	margin:5px 0 15px 0;
	padding: 8px;
	border-bottom: 2px #ccc solid;
	}
	
	.paragraph p {
		margin:0 0 12px 0; padding:0 5px 0 5px;
		font:normal 12px Arial, Helvetica, sans-serif; color:#666;
		line-height:18px;
		}

	.paragraph h4 {
		margin:0 0 12px 0; padding:0 5px 0 5px;
		font:normal 14px Arial, Helvetica, sans-serif; color:#666;
		line-height:20px;
		}
		
.leveldetailline {
	margin-bottom:5px;
	padding:0px;
	line-height:5px;
	border-bottom: 2px #ddd solid;
	clear: both;
}
/* submenuline */
.submenuline {
	margin:0 0 10px 0; padding:0 5px 0 5px;
	text-align:right;
	font:normal 11px Tahoma, Geneva, sans-serif;
	}

.submenuline .submspan {
	padding:0 6px;
	border-right:1px solid #ccc;
	}
.submenuline .submspanlast {
	padding:0 6px;
	}


/* tablescontent */
.tabtitletable {
	margin: 0px;
	padding: 0px;
	width: 300px;
	float: left;
	}

.tablecontenttop {
	width:910px; height:38px;
	background:url(../images/admin/formpaneltop.gif) no-repeat;
	}

.tablecontentmiddle {
	width:904px;
	padding:0 2px;
	background-color:#fff;
	border: solid 1px #ccc;
	border-width:0 1px;
	}
	
	h4.titletable {
		margin:0; padding:10px 10px;
		font:bold 14px Arial, Helvetica, sans-serif; color:#333;
		}

.tablecontentbottom {
	width:910px; height:37px;
	margin-bottom:15px;
	background:url(../images/admin/tablecontentbottom.gif) no-repeat;
	}
	

/* tables */
table.tables {
	width:904px; 
	margin:0 0 0 0; 
	border-collapse:collapse;
	}

table.tables th {
	padding:15px 0;
	}

table.tables img {
	padding:2px; margin:5px 5px;
	border:1px solid #ccc;
	}

table.tables td {
		border-top:1px solid #dfdfdf;
		text-align:center; 
		font-size:12px; 
		padding:7px 0; 
		margin:0; 
		color:#000;
                vertical-align: top;
		}
	
	table.tables tr.oddrow {
		background:url(../images/admin/oddbgr.gif) repeat-x;
		}

	td h5	{
		padding: 10px;
		font-size: 14px;
		font-weight:bold;
		}
		
	td.firstcol	{
		font-weight:bold;
		width: 75px;
		}
		
	td.firstcol2 {
		width: 100px;
		}

	td.firstcol a {
		font-weight:bold;
		}
	td.firstcol a:hover {
		text-decoration:none;
		}
	td.kpibox	{
        width: 300px;
        text-align: left;
        overflow: hidden;
		}
	td.listitem	{
        width: 200px;
		border-left:1px solid #ccc;
        text-align: left;
        overflow: hidden;
		}
	td.listitem ul	{
                margin: 0;
                padding-left: 10px;
		text-align: left;
		}
	td.listitem li	{
                margin: 0;
                padding: 2px 5px;
		text-align: left;
                list-style-position: inside;
		}
	td.dataitem a {
		text-decoration:none; 
		border-bottom:1px solid #cbbb7c;
		}
	td.dataitem a:hover {
		border-bottom-color:#ab8617
		}

	td.dataitem	{
		border-left:1px solid #ccc;
		}
		
	td.dataitem	p {
		margin: 0 7px;
		}
		
	td.useritem	{
		width: 175px;
		border-left:1px solid #ccc;
		}
		
	td.dateitem	{
		width: 125px;
		border-left:1px solid #ccc;
		}	
	
	td.edititem {
		width:100px;
		margin:0; padding:0px;
		border-left:1px solid #ccc;
	}
	
	.edititem a {
		font:normal 12px Arial, Helvetica, sans-serif;
		color:#999;
		}
	.edititem a:hover {
		color:#333;
		text-decoration:none;
		}
	
	
	td.edititem .iconadd {
		margin-left:10px; 
		background:url(../images/admin/iconadd.gif) no-repeat;
		padding:5px 5px 5px 23px; 
		}
	
	td.edititem .iconedit {
		margin-left:10px; 
		padding:5px 5px 5px 23px; 
		background:url(../images/admin/iconedit.gif) no-repeat;
		}
		
	td.edititem .icondelete {
		margin-left:10px; 
		padding:5px 5px 5px 25px;
		background:url(../images/admin/icondelete.gif) no-repeat;
		}
	
	td.edititem .icongroup {
		margin-left:10px; 
		padding:5px 5px 5px 25px;
		background:url(../images/admin/icon-group.gif) no-repeat;
		}
	
	td.edititem .iconblock {
		margin-left:10px; 
		padding:5px 5px 5px 25px;
		background:url(../images/admin/icon-blockuser.gif) no-repeat;
		}
	
	td.edititem .iconunblock {
		margin-left:10px; 
		padding:5px 5px 5px 25px;
		background:url(../images/admin/icon-ublockuser.gif) no-repeat;
		}
	
	td.edititem .icondata {
		margin-left:10px; 
		padding:5px 5px 5px 25px;
		background:url(../images/admin/icon-ublockdata.gif) no-repeat;
		}
	td.heading {
		background: #ccc;
	}

/* Page Numbers */
.paging {
	padding:0px 30px 0px 15px;
	padding-bottom:20px;
	}
.pages {
 	font: normal 12px arial, helvetica, sans-serif;
    padding:10px 0; margin-top:0px;
	}

.pages a, .pages span {
	color:#4c5f8a;
    display: block;
    float: left;
    padding: 4px 7px;;
    margin-right: 3px;
    background: #FFF;
}

.pages span.current {
    /*border: 1px solid #2E6AB1;*/
    font-weight: bold;
    background:#4c5f8a;
    color: #fff;
}

.pages a {
    text-decoration: none;
}

.pages a:hover {
    /*border-color: #2E6AB1;*/
	background-color:#EEE;
}

.pages span.nextprev a {
    font-weight: bold;
}

.pages span.nextprev {
    color: #666;
    padding: 0 5px;
}

.pages span.nextprev {
    /*border: 1px solid #ddd;*/
    color: #999;
}

.pages .nextprev-next {
    float: right;
}

/*status OK*/
.statusupdateOK {
	width:auto;
	padding:5px 10px 5px 10px;
	margin-bottom:10px;
	background-color:#E7FEEC;
	border:1px solid #6C9;
	color:#690;
	}

/*status Error*/
.statusupdateError {
	width:auto;
	padding:5px 10px 5px 10px; 
	//padding:5px 10px 0px 10px;
	margin-bottom:10px;
	background-color:#FFC;
	border:1px solid #FC6;
	color:#C00;
	}


.statusupdateicon {
	float:left;
	}
.statusupdatedesc {
	padding:10px 0 0 10px;
	float:left;
	}
.statusupdatedescError {
	padding:5px 0 0 10px;
	float:left;
	}
.statusupdatedesc ul {
	margin: 0px 10px 10px 20px;
	padding:0px;
	}

.statusupdatedesc ul li {
	margin: 0px 10px 5px 10px;
	padding:0px;
	}


#addcategory {
	margin: 5px 0; padding: 5px;
	border:1px solid #ccc;
	background: #fff;
	width: 490px;
	height: 400px;
	overflow: auto;
}	
	
#addcategory ul {
	list-style: none;
	margin: 5px;
}
	
#addcategory li {
	list-style: none;
	margin: 3px;
}

.legend {
	font-size: 10px;
	line-height: 15px;
	left:0pt;
	position:fixed;
	top:25px;
	z-index:1000;
	border: 1px solid #8AB261;
	padding: 2px;
}
.legend img { vertical-align: middle; }
.legend ul { margin: 2px; padding: 0; background: #fff; }
.legend ul li { list-style: none; margin: 0; padding: 3px; background: #fff; }
.legend ul li ul li { list-style: none; margin: 0; padding: 3px; background: #fff; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; width: 150px; }

.kpi-container {
	width:250px;
	background-color:#f00;
	margin: 2px auto;
	overflow: hidden;
	border: 1px solid #000;
}

.kpi-bar {
	line-height:20px;
	background-color: #0f0;
	color: #000;
	text-align: left;
	font-weight: bold;
}

.ins {
	margin: 5px 0;
	padding: 10px;
	border: #333;
	background: #ccc;
	clear: both;
}

.tags {
	clear: both;
	vertical-align: middle;
}