html, body, h1, h2, h3, h4, h5, p, form, ol, ul, li { margin:0; padding:0; }

body { font:11px Arial; color:#111; background:#fff; }
a { color:#e00; text-decoration:none; }
img { border:none }

.wrapper { width:960px; height:100%; margin:0 auto; position:relative; }
.left { float:left }
.right { float:right }

#container { width:100%; background:url(../images/bg-img.png) center top no-repeat; }
#main {}

#header { height:130px; position:relative; }
a.logo { height:0; display:block; position:absolute; overflow:hidden; }
a.logo img { display:block }
a#logo-dbp { width:250px; padding-top:65px; top:4px; left:108px; }
a#logo-dfo { width:232px; padding-top:42px; top:3px; right:97px; }

#section { width:100%; height:539px; }
#section.section-home {}
#content { width:100%; overflow:hidden; }
#content-home { width:398px; height:529px; margin:0 auto; background:url(../images/home-content.png) center top no-repeat; position:relative; }
a.fb-connect { display:block; position:absolute; top:415px; right:18px; }
a.fb-connect img { display:block }

#content-box { width:960px; height:323px; margin:25px auto 0; padding-top:160px; background:url(../images/box-content.png) no-repeat; }
#content-box.content-box-out {}
.box-content { margin:0 20px; padding-bottom:20px; border-top:1px dotted #ddd; }
.welcome { padding:5px 0; font-size:18px; color:#888; border-bottom:1px dotted #ddd; }
.welcome span { color:#c00 }
.userfield { margin-top:20px; overflow:hidden; }
.userfield-pic { margin-right:10px; float:left; }
.userfield-pic img { height:60px; display:block; }
.userfield-data { font-size:14px; color:#999; }
.userfield-data p { margin-bottom:5px }
.userfield-twitter { height:70px; margin-top:20px; padding:5px 0 0 75px; background:url(../images/tw-logo.png) left center no-repeat; border-top:1px dotted #ddd; border-bottom:1px dotted #ddd; }
.userfield-twitter p { font-size:14px; color:#888; }
a.tw-connect { margin-top:10px; display:block; }
a.tw-connect img { display:block }
a.submit { width:196px; height:53px; margin:25px auto 0; padding-top:7px; font-size:30px; text-transform:uppercase; text-align:center; text-shadow:1px 1px 1px #fff; color:#555; background:url(../images/btn-bg.png) no-repeat; display:block; }

#content-box.content-box-end .box-content { padding-top:85px; text-align:center; }
#content-box.content-box-end p { font-size:36px; color:#666; }
#content-box.content-box-end p span { color:#c00 }

#footer { height:70px; padding:10px 0; }
#footer-content { width:430px; margin:0 auto; text-shadow:1px 1px 1px #fff; overflow:hidden; }
#footer-content .left { width:67px }
#footer-content .right {}

#footer-content a.logo { width:67px; height:54px; position:static; overflow:visible; }
#footer-content ul { margin-top:3px; list-style:none; overflow:hidden; }
#footer-content ul li { margin-left:5px; padding-left:5px; border-left:1px solid #444; float:left; }
#footer-content ul li:first-child { margin:0; padding:0; border:0; }
#footer-content ul li a { font:bold 12px Arial; color:#444; }
#footer-content ul li a:hover { color:#000 }
#footer-content p { margin-top:2px; font-size:12px; color:#666; }
