/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; background: #000; }
body, button, input, select, textarea { font-family: 'FuturaLight', Arial, sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #FFF; text-decoration: none; }
a:visited { color: #FFF; }
a:hover { color: #dbbc6c; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
ul li { list-style: none; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ==|== Font Face ===================================================== */

@font-face {
    font-family: 'FuturaHeavy';
    src: url('../fontface/futura_heavy-webfont.eot');
    src: url('../fontface/futura_heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/futura_heavy-webfont.woff') format('woff'),
         url('../fontface/futura_heavy-webfont.ttf') format('truetype'),
         url('../fontface/futura_heavy-webfont.svg#FuturaHeavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FuturaLight';
    src: url('../fontface/futuralight-webfont.eot');
    src: url('../fontface/futuralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontface/futuralight-webfont.woff') format('woff'),
         url('../fontface/futuralight-webfont.ttf') format('truetype'),
         url('../fontface/futuralight-webfont.svg#FuturaLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ==|== primary styles =====================================================
   ========================================================================== */

/* ==|== General ======= */


/* set image max width to 100% */

#container {
	width: 1040px;
	height: 694px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

p,a,li {
	color: #FFF;
}

#container .home {
	width: 1040px;
	height: 694px;
	background: #000 url('../img/home-bg.jpg') no-repeat left top;
}

#container .inside {
	width: 1040px;
	height: 694px;
	background: #000 url('../img/inside-bg.jpg') no-repeat left top;
}

.gradient-01 {
  background-color: #fdab0d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdab0d), to(#de7610)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #fdab0d, #de7610); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #fdab0d, #de7610); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #fdab0d, #de7610); /* IE10 */
  background-image:      -o-linear-gradient(top, #fdab0d, #de7610); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #fdab0d, #de7610);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdab0d', EndColorStr='#de7610'); /* IE6-IE9 */
}

.gradient-02 {
  background-color: #fdab0d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdab0d), to(#de7610)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #fdab0d, #de7610); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #fdab0d, #de7610); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #fdab0d, #de7610); /* IE10 */
  background-image:      -o-linear-gradient(top, #fdab0d, #de7610); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #fdab0d, #de7610);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdab0d', EndColorStr='#de7610'); /* IE6-IE9 */
}


.round-01 {
  -webkit-border-radius: 10px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
     -moz-border-radius: 10px; /* FF1-3.6 */
          border-radius: 10px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
          
  /* useful if you don't want a bg color from leaking outside the border: */        
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

.round-02 {
  -webkit-border-radius: 5px; /* Saf3-4, iOS 1-3.2, Android <e;1.6 */
     -moz-border-radius: 5px; /* FF1-3.6 */
          border-radius: 5px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
          
  /* useful if you don't want a bg color from leaking outside the border: */        
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

.shadow-01 {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4); /* FF3.5 - 3.6 */
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

.shadow-02 {
  -webkit-box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2); /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2); /* FF3.5 - 3.6 */
          box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2); /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

/* ----- Header --------------------------- */


nav.globalNavi ul {
	margin-top: 34px;
	float: right;
	padding-right: 30px;
}

nav.globalNavi ul li {
	float: left;
	background: url('../img/navi-bg.png') repeat-x left center;
	padding: 8px 14px;
	margin-right: 10px;
}


nav.globalNavi ul li a {
	color: #000;
	font-size: 14px;
	letter-spacing: 0.1em;
}

nav.globalNavi ul li a:hover {
	color: #FFF;
}


/* ----- home --------------------------- */

.joinWrapper {
	margin-top: 410px;
	margin-left: 530px;
}

.joinWrapper p {
	font-size: 22px;
	letter-spacing: 0.05em;
}

.joinWrapper p a img {
	margin-top: -5px;
}

/* ----- inside --------------------------- */

.insideWrapper {
	width: 730px;
	margin: 0 auto;
	margin-top: 150px;
}

.insideWrapper-02 {
	width: 500px;
	margin: 0 auto;
	margin-top: 130px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 0.1em;
}

/* ----- Form --------------------------- */

ul.form { width: 700px; }
ul.form li { float: left; font-size: 18px; }
ul.form li input { border: rgba(0, 0, 0, 0.03) solid 2px; background-color: #FFF; font-size: 14px;  }
ul.form li input.text { min-width: 100%; width: 100%; height: 25px; }
ul.form li textarea { border: rgba(0, 0, 0, 0.03) solid 2px; background-color: #FFF; font-size: 14px; }
ul.form li textarea.textarea {  min-width: 100%; width: 100%; height: 150px; min-height: 150px; }
ul.form li input.file {  min-width: 100%; width: 100%; }
li.kolomsatu {width: 15%; min-width: 15%; padding-top: 5px;  }
li.kolomsatu1 {width: 15%; min-width: 15%; padding-top: 5px; padding-right: 3px; margin-top: -5px; }
li.kolomdua {width: 80%; min-width: 60%; }
li.kolomxtra {width: 2%; min-width: 2%; padding-top: 5px; padding-right: 3px; }
ul.form li input.joinButton { width: 119px; height: 49px; background: url('../img/join-button.png') no-repeat left center; border: none; text-indent:-999em }
ul.form li input.joinCancel { width: 119px; height: 49px; background: url('../img/cancel-button.png') no-repeat left center; border: none; text-indent:-999em }


/* ----- share --------------------------- */


.shareBox {
	width: 300px;
	margin: 0 auto;
	background: #FFF;
	padding: 20px 8px;
	text-align: center;
}

.shareBox p {
	font-size: 16px;
	letter-spacing: 0.08em;
	color: #000;
	margin-top: 0;
}

img.finButton {
	margin-top: 20px;
}


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clrboth { clear: both;}

p.welcome { font: 38px/1.4 "FuturaHeavy", Verdana, sans-serif; color: #8a2578 !important; text-align: right;}


/* ==|== media queries ====================================================== */


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* custom size for Caladine Project ----------- */
@media only screen
and (max-width : 600px) {
/* Styles */

}

/* Fb Tab (portrait) ----------- */
@media only screen
and (max-width : 520px) {
/* Styles */

}


/* Fb Apps (portrait) ----------- */
@media only screen
and (max-width : 760px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */


}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */


}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */

}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */


}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */


}


/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
