/*  

Custom overriden CSS created by Citra

*/
body {
	padding-bottom: 40px;
}
.logo-cms {
	width: 365px;
	height: 79px;
	float: left;
}
a {
	color: #389bd5;
	text-decoration: none;
}
td.dataitem a {
	text-decoration: none;
	border-bottom: none;
	}
	td.dataitem a:hover {
		text-decoration: underline;
	}
.middletop {   /* menu */

	width: 920px;
	height: 28px;
	padding: 25px 20px 0 20px;
	background: url(../images/admin/menubgr.gif) no-repeat;
	background-image: linear-gradient(bottom, rgb(17,117,175) 33%, rgb(56,155,213) 93%);
	background-image: -o-linear-gradient(bottom, rgb(17,117,175) 33%, rgb(56,155,213) 93%);
	background-image: -moz-linear-gradient(bottom, rgb(17,117,175) 33%, rgb(56,155,213) 93%);
	background-image: -webkit-linear-gradient(bottom, rgb(17,117,175) 33%, rgb(56,155,213) 93%);
	background-image: -ms-linear-gradient(bottom, rgb(17,117,175) 33%, rgb(56,155,213) 93%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.33, rgb(17,117,175)), color-stop(0.93, rgb(56,155,213)) );
	border-radius: 0;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 0;
	border: 1px solid #ddd;
	border-bottom: none;
}
.middlecontent {
	background-image: none;
	background-color: white;
	width: 940px;
	border: 1px solid #ddd;
	border-bottom-width: 2px;
}
.middlebottom {
	display: none;
}

thead tr th:nth-child(2) {
	text-align: left;
	padding-left: 20px;
}
td.dataitem:nth-child(2) {
	text-align: left;
	padding-left: 20px;
}
td.firstcol {
	width: 40px;
}
.edititem i {
	font-size: 20px;
	text-align: left;
}
	.edititem i.icon-ok-circle {
		color: rgba(4, 150, 6, 0.34);
	}
	.edititem i.icon-remove-circle {
		color: rgba(219, 4, 4, 0.34);
	}	
	.edititem span {
		padding: 0 2px;
	}
		.edititem span a {
			color: rgba(56, 155, 213, 0.34);
		}
.menustatus {
	padding-top: 35px;
}
.menustatus h5 {
	font-weight: bold;
}

#header {
	margin-bottom: 20px;
	margin-top: 30px;
	height: 80px;
}
h4.menu {
	padding: 0 15px 10px 15px;
}
table.tables {
	border-bottom: 1px solid #ddd;
}
.tablecontentmiddle {
	/*border-bottom: 1px solid #ddd;*/
}
.tablecontentbottom {
	margin-bottom: 0;
	background-image: none;
	border-top: 1px solid #ddd;
}
.tablecontenttop, #tabs {
	background-color: #31a6e9;
	background-image: none;
}
#tabs {
	padding-top: 0;
}
.tab_bdr, #tabsbottom {
	background-image: none;
	margin-bottom: 0;
}
table.tables tr.oddrow {
	background-image: none;
}
h4.titletable {
	color: white;
}
.legend-icon {
	float: right;
	margin-top: 6px;
}
	.legend-icon span {
		border-left: 1px solid #ddd;
		margin: 0 4px;
		display: inline-block;
	}
	.legend-icon i {
		font-size: 20px;
		padding: 0 6px;
		color: rgba(56, 155, 213, 0.34);
	}
.pages {
	padding: 0 20px 20px 20px;
	text-align: right;
}
	.pages div {
		display: inline-block;
	}
	.pages span.current {
		background-color: #389bd5;
	}
	.pages a, .pages span {
		color: #389bd5;
		font-size: 14px;
	}
.label-important {
	color: #DB0404;
}
.label-success {
	color: #049606;
}
.text-left {
	text-align: left !important;
	padding-left: 10px !important;
}