/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
    display: block;
}

a img {border: 0;}

a { color: #5a5a5c; text-decoration: none; }

p { margin: 0 0 8px;}

hr { color: #5a5a5c; height: 2px;}

td { padding: 3px; }

/*	Typography presets
	------------------	*/

body {
    font: 14px/22px Arial, Palatino, Constantia, "Palatino Linotype", serif;
}

.small, small {
    font-size: 13px;
    line-height: 18px;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

.active { color: #00afee; }
.clear { clear: both; }
.left { float: left; }
.right { float: right; }

/*		Default Layout: 992px.
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
    background: #e9e9e9;
    color: #5a5a5c;
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

#container {
    background: #fff;
    width: 992px;
    margin: 0 auto;
}

#top {
    background: url('../images/bg-top.jpg') top left repeat-x;
    height: 20px;
    padding: 2px 20px 3px;
    font-size: 12px;
}

#top img {
    vertical-align: middle;
}

#header {
    margin: 25px 20px 0;
    float: left;
}

h1 {
    background: url('../images/logo (2).png') top left no-repeat;
    width: 160px;
    height: 64px;
}

h1 a {
    width: 160px;
    height: 64px;
    text-indent: -9999px;
    display: block;
}

h2 {
    color: #00afee;
    font-size: 26px;
    margin: 0 0 16px;
}

h3 {
    font-size: 20px;
    padding: 0 0 8px;
    margin: 0 0 16px;
    border-bottom: 2px solid #5a5a5c;
}

h4 {
    font-size: 16px;
    padding: 0;
}

#menu {
    text-align: left;
    margin: 25px 20px 10px;
    width: 700px;
    float: right;
    font-size: 20px;
}

#menu ol {
    display: inline;
    list-style: none;
}

#menu li {
    float: left;
    padding: 5px 15px;
}

#menu a:hover {
    color: #00afee;
}

#middle {
    clear: both;
    padding: 20px;
}

.pro-img {
    margin-right: 10px;
}

.small-box {
    width: 456px;
    margin: 0 0 8px;
}

.big-box {
    margin: 0 0 8px;
}

ul.image-list {
    list-style: none;
}

ul.image-list li {
    float: left;
    margin: 0 3px;
}

ul.item-list {
    padding: 0 0 8px 20px;
}

ol.lead-list {
    list-style: none;
    padding: 0 0 8px;
}

ol.lead-list li {
    float: left;
    width: 456px;
    margin: 0 10px 8px;
}

h2.lead {
    color: #5a5a5c;
    margin-right: 10px;
}

.rundown h3 {
    color: #00afee;
    font-size: 20px;
    padding: 0 0 8px;
    margin: 0 0 16px;
    border-bottom: 2px solid #00afee;
}

.rundown ul {
    list-style: none;
    padding: 0 0 8px;
}

.rundown li {
    border-bottom: 1px solid #00afee;
    padding: 2px 5px;
    color: #000;
}

li.topic {
    color: #999;
    font-weight: bold;
}

#bottom {
    padding: 10px 0;
    font-size: 12px;
    border-top: 2px solid #ddd;
    margin: 10px 20px 0;
}
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

    #container {
        width: 768px;
    }

    #menu {
        width: 500px;
    }

    #menu li {
        float: left;
        padding: 5px 10px;
    }

    .small-box, ol.lead-list li {
        width: 344px;
    }

}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

    #container {
        width: 320px;
    }

    #menu {
        float: none;
        clear: both;
        width: 280px;
        text-align: center;
        font-size: 12px;
    }

    #menu li {
        padding: 4px;
    }

    .small-box, ol.lead-list li {
        width: 280px;
        clear: both;
        float: none;
    }

    ol.lead-list li {
        margin: 0 0 8px;
    }

    h2.lead {
        margin-right: 5px;
    }
}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    #container {
        width: 480px;
    }

    #menu {
        float: none;
        clear: both;
        width: 440px;
        text-align: center;
        font-size: 14px;
    }

    #menu li {
        padding: 5px 15px;
    }

    .small-box, ol.lead-list li {
        width: 440px;
        clear: both;
        float: none;
    }
}


/*	Retina media query.
	Overrides styles for devices with a
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

    #container {

    }

}