@charset "UTF-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object {
    display: block;
}

a { text-decoration: none; }
a img {border: 0;}
ul { list-style: none; }

.clear { clear: both; }

input:focus, textarea:focus { border:solid 1px #666666; background-color:#FFFFCC; }

body {
	font: 100%/1.4 Helvetica, Arial, sans-serif;
	background: #4c5156;
	margin: 0;
	padding: 0;
	color: #444;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0 0 0 25px;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 10px 0;
}
h2 {
	line-height: 26px;
	font-size: 24px;
	font-weight:bold;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #42413C;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #6E6C64;
	text-decoration: none;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: underline;
}

.arial12 {
    color: #000;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.maroon {
	color: #9e0b0f;
}

/* ~~ this fixed width container surrounds all other elements ~~ */
.container {
	width: 800px; min-height: 690px;
	background: #FFF url(../images/main.jpg) center top no-repeat;
	margin: 20px auto 0; /* the auto value on the sides, coupled with the width, centers the layout */
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 50);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 50);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 50);
}

/* ~~ This is the layout information. ~~ 

*/
.content {
	width: 420px;
	margin: 0 auto;
	padding: 440px 0 0;
}

#intro {
	font-size: 16px;
	text-align: center;
}

.title {
	background: url(../images/line.png) left bottom no-repeat;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.title h2 {
	margin-bottom: 0;
	font-size: 24px;
	color: #9e0b0f;
}
.title p {
	font-size: 16px;
	margin-top: 0;
}

.post {
	background: url(../images/line.png) left bottom no-repeat;
	padding-bottom: 10px;
	margin-bottom: 20px;	
}

#footer {
	width: 460px;
    line-height: 1.5em;
    margin: 20px auto 0;
    padding: 20px 0 30px;
    text-align: left;
}

#footer a { margin: 0 8px; color: #000; font-weight: bold; }
#smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: block;}

.warn {
	padding: 12px;
	background:#fff;
}
.maindiv {
	width: 530px;
	color: #000;
	margin: 0 auto;
}

