/*
	Less Framework 2, version 2.0
	by Joni Korpi
	-----------------------------
	http://lessframework.com
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object {
    display: block;
}

a { text-decoration: none; }
a img {border: 0;}
ul { list-style: none; }

img.placeborder { width: 20px; height: 20px;border: none;display: block !important; }

.clear { clear: both; }

input:focus, textarea:focus { border:solid 1px #666666; background-color:#FFFFCC; }

.Muse30015{ font-weight:300; margin:0; font-size:15px; color:#656565; font-weight:bold; }
.Muse30027 { font-weight:300; font-size:27px; color:#666666; }
.Muse70030 { font-weight:700; font-size:30px; color:#d22229; }
.Muse30019x{ font-weight:500; font-size:19px; color:#990000; padding-top:20px; }
.Muse30019reg{ font-weight:700; font-size:19px; color:#990000; padding-top:20px; }
.Muse30018reg{ font-weight:600; font-size:16px; color:#666666; padding-top:20px; }
.Muse30021{ font-weight:300; font-size:19px; color:#424242; margin-top:16px; font-weight:600; }
.Muse30023{ font-weight:600; font-size:23px; color:#d22229; }
.arial11 { font-family: Helvetica, Arial, sans-serif; font-weight:600; font-size:11px; color:#d22229; text-decoration:none; }
.arial12 { font-family: Helvetica, Arial, sans-serif; font-weight:600; font-size:12px; color:#d22229; text-decoration:none; }
.arial17 { font-family: Helvetica, Arial, sans-serif; font-weight:300; font-size:17px; color:#666666; }
.arial17reg { font-family: Helvetica, Arial, sans-serif; font-weight:300; font-size:17px; color:#666666; }

.arial12reg { font-family: Helvetica, Arial, sans-serif; font-weight:300; font-size:12px; color:#d22229; text-decoration:none; }
.arial14 { font-family: Helvetica, Arial, sans-serif; font-weight:300; font-size:14px; text-decoration:none; }
.arial15 { font-family: Helvetica, Arial, sans-serif; font-weight:600; font-size:15px; text-decoration:none; }
.arial15reg { font-family: Helvetica, Arial, sans-serif; font-weight:300; font-size:15px; text-decoration:none; }
.arial19 { font-family: Helvetica, Arial, sans-serif; font-weight:600; font-size:19px; text-decoration:none; }
.arial30 { font-family: Helvetica, Arial, sans-serif; font-weight:600; font-size:30px; text-decoration:none; }

.error { margin: 10px 20px; padding: 5px; }

.redstyle { color:#d22229; text-decoration:none; }
.redstylemuda { color:#ee3932; text-decoration:none; }
.greystyle { color:#666666; text-decoration:none; }
.white { color:#ffffff; text-decoration:none; }

.titlemember { font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#cc242b;  }
.descmember, .desc { font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#aaa; }

a.topmenuhref:link {color:#686868; }
a.topmenuhref:visited {color:#686868; }
a.topmenuhref:hover {color:#ce242a; }

a.topmenuselected:link {color:#ce242a; }
a.topmenuselected:visited {color:#ce242a; }
a.topmenuselected:hover {color:#ce242a; }

a.Muse30019:link {color:#990000; }
a.Muse30019:visited {color:#990000; }
a.Muse30019:hover {color:#990000; }

::selection 	 {background: rgb(255,255,0);}
::-moz-selection {background: rgb(255,255,0);}

.home li { display: inline; list-style-type: none; border-right: 2px solid #999; padding: 0 10px; }
.spliter { margin: 0 10; color:#686868; width:1px; font-weight:300; font-size:15px; }
.navlist li { display: inline; list-style-type: none; }

body { background: rgb(232,232,232); background-image:url(../images/tilebg.gif); }
header { margin: 0 0 30px; background: url(../images/tiletop.gif) top left repeat-x; padding: 24px 0 0; }

.maindiv { width: 1128px; margin: 0 auto; padding: 0; clear:both; }

#topmenu { text-align:right; margin: 0 0 10px; padding: 0; }

#idlogo { width:219px; height:189px; float:left; margin: 0 40px 0 0; text-indent: -9999px; background: url(../images/logo.png) no-repeat top left; }
#idlogo a { width:219px; height:189px; display: block; }

#hometagline { width:288px; height:189px; float:left; line-height: 1.3em; }
#hometagline h1 { margin-top: 40px; color: #D32229; display: block; font-size: 33px; line-height: 28px; letter-spacing: -2px; }
#hometagline p { color: #999; display: block; font-size: 25px; }

#homeright { width:244px; height:144px; float:right; padding-top: 45px; }

#btntxt { width:124px; height:71px; float:right; }
#btnloc { width:86px; height:71px; float:right; }

#loginloc { width:430px; height:71px; float:right; }

#left { float: left; width: 700px; padding: 0 0 20px 0; margin: 0 20px 36px 0; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
#right { float: left; width: 406px; padding: 0 0 20px 0; background: #fff; margin: 0 0 36px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

#left2 { float: left; width: 550px; padding: 0; margin: 0 0 36px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
#right2 { float: right; width: 553px; padding: 0; margin: 0 0 36px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

#innerleft { padding: 0 0 20px 0; background:#fff; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
#innerleft2 { padding: 0 0 20px 0; background:#fff; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
#innerright2 { padding: 0 0 20px 0; background:#fff; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

#middleone, #middleflex { margin: 24px 0 36px 0; padding: 26px; background:#fff; line-height:1.4em; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

.signbox { padding: 0 0 20px; margin: 10px 0 0; border-bottom: solid 1px #f1bcbe; }

.formbox { margin: 0; padding: 20px; border-bottom:solid 1px #f1bcbe; line-height: 1.6em; font-size: 14px; }
.formbox3 { margin: 0; padding: 20px; }
.formfooter { margin: 26px 0 0; clear: both; }

.formbox h3 { font-size: 18px; font-weight: bold; margin: 8px 0; padding: 0 0 8px; }
.formbox p { margin: 0 0 16px; }
.formbox ol, .formbox ul { margin: 0 20px 16px; }

.inputtype { width:326px; padding:10px 5px; margin: 0; border:solid 1px #ccc; }
.inputtypex { width:326px; padding:10px 5px; border:solid 1px #ccc; }

.listyle { float:left; width: 170px ; padding:10px 0 0; text-align: right; }
.listyle2 { float:left; width: 510px; padding:10px 0 0; }
.listyle3 { float:left; width: 340px; padding:10px 0 0; }
.listyle4 { float:left; width: 380px; padding:10px 0 0; text-align: center; }

.titleplace { padding: 20px 10px; margin: 0 10px 15px; font-weight:700; font-size:18px; color:#666; line-height:1.1em; border-bottom:solid 1px #f1bcbe; }
.titleplace2 { padding: 0 10px 16px; margin: 0; font-weight:700; font-size:18px; color:#ce242a; line-height:1.1em; border-bottom:solid 1px #f1bcbe; }
.titleplacenoborder { padding: 10px 0; margin:0 20px 0; font-weight:700; font-size:18px;color:#666; line-height:1.1em; }

.boxspot { background:#333; padding:0 20px; color:#ffffff; }
#picspotplace { width: 90px; height: 90px; float:left; margin: 16px 16px 16px 0; padding: 5px; background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; }

#spottext { width: 540px; height: auto;  margin: 16px 0; float:left; }
#spottext2 { width: 850px; height: auto;  margin: 0; padding: 0; float:left; }
#spottext3 { width: 635px; height: auto;  margin:0 16px; float:left; line-height: 40px; }

#picpersonalplace { width:120px; height:120px; float:left; margin: 0 20px 0 0;  }

#spottext ul, #spottext2 ul, #spottext3 ul { margin: 10px 0; padding: 0; clear: both; }

.navlist li { margin: 0; padding: 0 10px; line-height: 2em; font-size: 15px; }

.clearmargin { margin: 0 10px 0 10px; }

.boxhiglight p { background-color:#fff; margin: 0 10px; }
.boxhighlight4 { margin: 16px 0; padding: 0; }
.boxhighlight4 ul li { list-style:none; margin: 0 0 20px; padding: 0; }

.licontent { margin: 10px 0 0; min-height:66px; border-bottom:dashed 1px #999; }
.licontent2 { margin: 10px 0 0; }

.picplace { width:50px; float:left; margin-right: 10px; display: block; }
.picplace2 { float:left; }
.picplacep { width:80px; float:left; }

.contplace2 { width: 265px; float:left; line-height:1.4em; padding: 0 0 10px; }
.contplace { width: 610px; float:left; line-height:1.4em; padding: 0 0 10px 0; }
.cont2place { width: 320px; float:left; line-height:1.4em; margin-left: 5px; padding: 0 0 10px 0; }
.cont3place { width: 460px; float:left; line-height:1.4em; padding: 0 0 10px; }
.cont5place { width: 440px; float:left; line-height:1.4em; padding: 10px 0; }
.cont4place { width: 460px; float:left; line-height:1.4em; padding: 0 0 10px; }
.iconplace { width: 50px; float:right; margin-left: 10px; display: block; }

#children { margin: 0 10px; padding: 0; clear: both; }
#children .title { padding: 15px 0; margin: 0 0 10px; font-weight:700; font-size:18px;color:#666666; line-height:1.1em; }
#childs { list-style:none; margin: 0 0 10px; padding: 0; width: 680px; }

.childs { list-style:none; margin: 0 10px 16px; padding: 0 0 10px; float: left; width: 320px; border-bottom: 1px dashed #999999; }
.pic { float: left; margin: 0 10px 10px 0; padding: 0; }
.desc { float: left; margin 5px; padding: 0; width: 260px; height: 69px; overflow: hidden;  }
.all { margin: 5px 0 0; padding: 10px 0 5px; border-top: 1px solid #F1BCBE; text-align: right; font-size: 11px; line-height: 12px; }
.child { margin: 0; padding: 0; }
.child h4 { font-size: 15px; font-weight: bold; margin: 10px 0; padding: 0 0 8px; border-bottom: 1px solid #F1BCBE; }
.child .childrens { margin: 0 5px; padding: 0; float: left; width: 50px; }

#paging { text-align: right; margin: 16px 16px 0; padding: 0; clear: both; font-size: 13px; }
#paging a { text-decoration: none; margin: 0 5px; color: #CE242A; }

#footer { clear:both; min-height:62px; margin: 10px 0; text-align: left; line-height: 2em; }
#footer a { margin: 0 8px; }
#smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: block;}

/*	Default 8-column layout
	60 px columns, 24 px gutters, 60 px margins, 768 px total
	---------------------------------------------------------
	1     2      3      4      5      6      7      8
	60px  144px  228px  312px  396px  480px  564px  648px	*/

.maindiv { width: 648px; }

/*	3-column layout
	60 px columns, 24 px gutters, 46 px margins, 320 px total
	---------------------------------------------------------
	1     2      3
	60px  144px  228px	*/

@media only screen and (max-width: 479px) {
    .maindiv { width: 90%; }
	.navlist li { display: block; list-style-type: none; }

    header { margin: 0 0 10px; padding: 12px 0 0; }

    #topmenu { text-align:center; margin: 0 0 18px; padding: 0; }
    .home li { display: inline; list-style-type: none; border-right: 2px solid #999; padding: 0 5px; }

    #idlogo { width:60px; height:70px; float:left; margin: 0 20px 0 0; text-indent: -9999px; background: url(../images/smalllogo.png) no-repeat top left; }
    #idlogo a { width:60px; height:70px; display: block; }

    #hometagline { width:75%; height:70px; float:left; line-height: 1.3em; }
    #hometagline h1 { margin: 0px; color: #D32229; display: block; font-size: 33px; line-height: 28px; letter-spacing: -2px; }
    #hometagline p { color: #999; display: block; font-size: 25px; }

    #homeright { width:144px; height:144px; float:right; padding-top: 45px; display: none; }

    #btntxt { width:124px; height:71px; float:right; }
    #btnloc { width:86px; height:71px; float:right; }

    #left { float: none; width: 100%; padding: 0 0 20px 0; margin: 0 0 12px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
    #right { float: none; width: 100%; padding: 0 0 20px 0; background: #fff; margin: 0 0 24px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    #left2 { float: none; width: 100%; padding: 0; margin: 0 0 12px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
    #right2 { float: none; width: 100%; padding: 0; margin: 0 0 24px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    #innerleft { padding: 0 0 20px 0; background:#fff; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
    #innerleft2 { padding: 0 0 20px 0; background:#fff; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
    #innerright2 { padding: 0 0 20px 0; background:#fff; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    #middleone, #middleflex { margin: 12px 0 24px 0; padding: 16px; background:#fff; line-height:1.2em; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    .signbox { padding: 0 0 20px; margin: 10px 0 0; border-bottom: solid 1px #f1bcbe; }

    .formbox { margin: 0; padding: 10px; border-bottom:solid 1px #f1bcbe; line-height: 1.6em; font-size: 14px; }
    .formbox3 { margin: 0; padding: 10px; }
    .formfooter { margin: 12px 0 0; clear: both; }

    .formbox h3 { font-size: 15px; font-weight: bold; margin: 4px 0; padding: 0 0 4px; }
    .formbox p { margin: 0 0 10px; }
    .formbox ol, .formbox ul { margin: 0 0 10px 20px; }

    .inputtype { width: 90%; padding:3px; margin: 0; border:solid 1px #ccc; }
    .inputtypex { width: 90%; padding:3px; border:solid 1px #ccc; }

    .listyle { float:none; width: 100% ; padding:10px 0 0; text-align: left; }
    .listyle2 { float:none; width: 80%; padding:10px 0 0; }
    .listyle3 { float:none; width: 100%; padding:10px 0 0; }
    .listyle4 { float:none; width: 100%; padding:10px 0 0; text-align: center; }

    .titleplace { padding: 20px 10px; margin: 0 10px 15px; font-weight:700; font-size:18px; color:#666; line-height:1.1em; border-bottom:solid 1px #f1bcbe; }
    .titleplace2 { padding: 0 10px 16px; margin: 0; font-weight:700; font-size:18px; color:#ce242a; line-height:1.1em; border-bottom:solid 1px #f1bcbe; }
    .titleplacenoborder { padding: 10px 0; margin:0 20px 0; font-weight:700; font-size:18px;color:#666; line-height:1.1em; }

    .boxspot { background:#333; padding:5px 10px; color:#ffffff; }
    #picspotplace { height: 90px; float:none; margin: 0 0 16px; padding: 5px; background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; }

    #spottext { width: 100%; height: auto;  margin: 16px 0; float:none; }
    #spottext2 { width: 100%; height: auto;  margin: 0; padding: 0; float:left; }
    #spottext3 { width: 100%; height: auto;  margin:0 16px; float:none; line-height: 40px; }

    #picpersonalplace { width:100%; height:120px; float:none; margin: 0 0 10px; text-align: center;  }

    #spottext ul, #spottext2 ul, #spottext3 ul { margin: 10px 0; padding: 0; clear: both; }

    .navlist li { margin: 0; padding: 0 10px 5px; line-height: 1.2em; font-size: 15px; }

    .clearmargin { margin: 0 10px 0 10px; }

    .boxhiglight p { background-color:#fff; margin: 0 10px; }
    .boxhighlight4 { margin: 16px 0; padding: 0; }
    .boxhighlight4 ul li { list-style:none; margin: 0 0 20px; padding: 0; }

    .licontent { margin: 10px 0 0; min-height: 25px; border-bottom:dashed 1px #999; }
    .licontent2 { margin: 10px 0 0; }

    .picplace { width:50px; float:left; margin-right: 10px; display: none; }
    .picplace2 { float:left; }
    .picplacep { width:80px; float:left; }

    .contplace2 { width: 100%; float:left; line-height:1.4em; padding: 0 0 10px; }
    .contplace { width: 100%; float:left; line-height:1.4em; padding: 0 0 10px 0; }
    .cont2place { width: 100%; float:left; line-height:1.4em; margin-left: 5px; padding: 0 0 10px 0; }
    .cont3place { width: 100%; float:left; line-height:1.4em; padding: 0 0 10px; }
    .cont5place { width: 75%; float:left; line-height:1.4em; padding: 10px 0; }
    .cont4place { width: 100%; float:left; line-height:1.4em; padding: 0 0 10px; }
    .iconplace { width: 100%; float:right; margin-left: 10px; display: none; }

    #children { margin: 0 10px; padding: 0; clear: both; }
    #children .title { padding: 15px 0; margin: 0 0 10px; font-weight:700; font-size:18px;color:#666666; line-height:1.1em; }
    #childs { list-style:none; margin: 0 0 10px; padding: 0; width: inherit; }

    .childs { list-style:none; margin: 0 5px 16px; padding: 0 0 10px; float: none; width: inherit; border-bottom: 1px dashed #999999; }
    .pic { float: left; margin: 0 10px 10px 0; padding: 0; }
    .desc { float: left; margin 5px; padding: 0; width: 80%; height: 69px; overflow: hidden;  }
    .all { margin: 5px 0 0; padding: 10px 0 5px; border-top: 1px solid #F1BCBE; text-align: right; font-size: 11px; line-height: 12px; }
    .child { margin: 0; padding: 0; }
    .child h4 { font-size: 15px; font-weight: bold; margin: 10px 0; padding: 0 0 8px; border-bottom: 1px solid #F1BCBE; }
    .child .childrens { margin: 0 5px; padding: 0; float: left; width: 50px; }

    #footer { clear:both; min-height:62px; margin: 10px 0; text-align: center; line-height: 2em; }
    #footer a { margin: 0 8px; }
    #smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: none;}

}

/*	5-column layout
	60 px columns, 24 px gutters, 42 px margins, 480 px total
	---------------------------------------------------------
	1     2      3      4      5
	60px  144px  228px  312px  396px	*/

@media only screen and (max-width: 769px) and (min-width: 480px) {
    .maindiv { width: 732px; }
	.navlist li { display: inline; list-style-type: none; }

	header { margin: 0 0 10px; padding: 24px 0 0; }

    #topmenu { text-align:center; margin: 0 0 10px; padding: 0; }

    #idlogo { width:219px; height:189px; float:left; margin: 0 40px 0 0; text-indent: -9999px; background: url(../images/logo.png) no-repeat top left; }
    #idlogo a { width:219px; height:189px; display: block; }

    #hometagline { width:288px; height:189px; float:left; line-height: 1.3em; }
    #hometagline h1 { margin-top: 40px; color: #D32229; display: block; font-size: 33px; line-height: 28px; letter-spacing: -2px; }
    #hometagline p { color: #999; display: block; font-size: 25px; }

    #homeright { width:144px; height:144px; float:right; padding-top: 45px; display: block; }

    #btntxt { width:124px; height:71px; float:right; }
    #btnloc { width:86px; height:71px; float:right; }

    #left { float: none; width: 100%; padding: 0 0 20px 0; margin: 0 0 12px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
    #right { float: none; width: 100%; padding: 0 0 20px 0; background: #fff; margin: 0 0 24px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    #left2 { float: none; width: 100%; padding: 0; margin: 0 0 12px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
    #right2 { float: none; width: 100%; padding: 0; margin: 0 0 24px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    #innerleft { padding: 0 0 20px 0; background:#fff; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
    #innerleft2 { padding: 0 0 20px 0; background:#fff; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
    #innerright2 { padding: 0 0 20px 0; background:#fff; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    #middleone, #middleflex { margin: 24px 0 36px 0; padding: 26px; background:#fff; line-height:1.4em; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    .signbox { padding: 0 0 20px; margin: 10px 0 0; border-bottom: solid 1px #f1bcbe; }

    .formbox { margin: 0; padding: 20px; border-bottom:solid 1px #f1bcbe; line-height: 1.6em; font-size: 14px; }
    .formbox3 { margin: 0; padding: 20px; }
    .formfooter { margin: 26px 0 0; clear: both; }

    .formbox h3 { font-size: 18px; font-weight: bold; margin: 8px 0; padding: 0 0 8px; }
    .formbox p { margin: 0 0 16px; }
    .formbox ol, .formbox ul { margin: 0 20px 16px; }

    .inputtype { width:326px; padding:10px 5px; margin: 0; border:solid 1px #ccc; }
    .inputtypex { width:326px; padding:10px 5px; border:solid 1px #ccc; }

    .listyle { float:left; width: 170px ; padding:10px 0 0; text-align: right; }
    .listyle2 { float:left; width: 460px; padding:10px 0 0; }
    .listyle3 { float:left; width: 340px; padding:10px 0 0; }
    .listyle4 { float:left; width: 380px; padding:10px 0 0; text-align: center; }

    .titleplace { padding: 20px 10px; margin: 0 10px 15px; font-weight:700; font-size:18px; color:#666; line-height:1.1em; border-bottom:solid 1px #f1bcbe; }
    .titleplace2 { padding: 0 10px 16px; margin: 0; font-weight:700; font-size:18px; color:#ce242a; line-height:1.1em; border-bottom:solid 1px #f1bcbe; }
    .titleplacenoborder { padding: 10px 0; margin:0 20px 0; font-weight:700; font-size:18px;color:#666; line-height:1.1em; }

    .boxspot { background:#333; padding:0 20px; color:#ffffff; }
    #picspotplace { width: 90px; height: 90px; float:left; margin: 16px 16px 16px 0; padding: 5px; background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; }

    #spottext { width: 575px; height: auto;  margin: 16px 0; float:left; }
    #spottext2 { width: 500px; height: auto;  margin: 0; padding: 0; float:left; }
    #spottext3 { width: 465px; height: auto;  margin:0 16px; float:left; line-height: 40px; }

    #picpersonalplace { width:120px; height:120px; float:left; margin: 0 20px 0 0;  }

    #spottext ul, #spottext2 ul, #spottext3 ul { margin: 10px 0; padding: 0; clear: both; }

    .navlist li { margin: 0; padding: 0 10px; line-height: 1.2em; font-size: 15px; }

    .clearmargin { margin: 0 10px 0 10px; }

    .boxhiglight p { background-color:#fff; margin: 0 10px; }
    .boxhighlight4 { margin: 16px 0; padding: 0; }
    .boxhighlight4 ul li { list-style:none; margin: 0 0 20px; padding: 0; }

    .licontent { margin: 10px 0 0; min-height:66px; border-bottom:dashed 1px #999; }
    .licontent2 { margin: 10px 0 0; }

    .picplace { width:50px; float:left; margin-right: 10px; display: block; }
    .picplace2 { float:left; }
    .picplacep { width:80px; float:left; }

    .contplace2 { width: 590px; float:left; line-height:1.4em; padding: 0 0 10px; }
    .contplace { width: 650px; float:left; line-height:1.4em; padding: 0 0 10px 0; }
    .cont2place { width: 320px; float:left; line-height:1.4em; margin-left: 5px; padding: 0 0 10px 0; }
    .cont3place { width: 460px; float:left; line-height:1.4em; padding: 0 0 10px; }
    .cont5place { width: 630px; float:left; line-height:1.4em; padding: 10px 0; }
    .cont4place { width: 645px; float:left; line-height:1.4em; padding: 0 0 10px; }
    .iconplace { width: 50px; float:right; margin-left: 10px; display: block; }

    #children { margin: 0 10px; padding: 0; clear: both; }
    #children .title { padding: 15px 0; margin: 0 0 10px; font-weight:700; font-size:18px;color:#666666; line-height:1.1em; }
    #childs { list-style:none; margin: 0 0 10px; padding: 0; width: 710px; }

    .childs { list-style:none; margin: 0 10px 16px; padding: 0 0 10px; float: left; width: 335px; border-bottom: 1px dashed #999999; }
    .pic { float: left; margin: 0 10px 10px 0; padding: 0; }
    .desc { float: left; margin 5px; padding: 0; width: 275px; height: 69px; overflow: hidden;  }
    .all { margin: 5px 0 0; padding: 10px 0 5px; border-top: 1px solid #F1BCBE; text-align: right; font-size: 11px; line-height: 12px; }
    .child { margin: 0; padding: 0; min-height: 91px; }
    .child h4 { font-size: 15px; font-weight: bold; margin: 10px 0; padding: 0 0 8px; border-bottom: 1px solid #F1BCBE; }
    .child .childrens { margin: 0 5px; padding: 0; float: left; width: 50px; }

    #footer { clear:both; min-height:62px; margin: 10px 0; text-align: center; line-height: 2em; }
    #footer a { margin: 0 8px; }
    #smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: block;}

}

/*	10-column layout
	60 px columns, 24 px gutters, 42 px margins, 480 px total
	---------------------------------------------------------
	1     2      3      4      5
	60px  144px  228px  312px  396px	*/

@media only screen and (max-width: 1211px) and (min-width: 770px) {
    .maindiv { width: 978px; }
	.navlist li { display: inline; list-style-type: none; }

	#topmenu { text-align:right; margin: 0 0 10px; padding: 0; }

    #idlogo { width:219px; height:189px; float:left; margin: 0 40px 0 0; text-indent: -9999px; background: url(../images/logo.png) no-repeat top left; }
    #idlogo a { width:219px; height:189px; display: block; }

    #hometagline { width:288px; height:189px; float:left; line-height: 1.3em; }
    #hometagline h1 { margin-top: 40px; color: #D32229; display: block; font-size: 33px; line-height: 28px; letter-spacing: -2px; }
    #hometagline p { color: #999; display: block; font-size: 25px; }

    #homeright { width:244px; height:144px; float:right; padding-top: 45px; display: block; }

    #btntxt { width:124px; height:71px; float:right; }
    #btnloc { width:86px; height:71px; float:right; }

    #left { float: left; width: 625px; padding: 0 0 20px 0; margin: 0 20px 36px 0; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
    #right { float: left; width: 320px; padding: 0 0 20px 0; background: #fff; margin: 0 0 36px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    #left2 { float: left; width: 475px; padding: 0; margin: 0 0 36px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
    #right2 { float: right; width: 478px; padding: 0; margin: 0 0 36px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    #innerleft { padding: 0 0 20px 0; background:#fff; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
    #innerleft2 { padding: 0 0 20px 0; background:#fff; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
    #innerright2 { padding: 0 0 20px 0; background:#fff; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    #middleone, #middleflex { margin: 24px 0 36px 0; padding: 26px; background:#fff; line-height:1.4em; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    .signbox { padding: 0 0 20px; margin: 10px 0 0; border-bottom: solid 1px #f1bcbe; }

    .formbox { margin: 0; padding: 20px; border-bottom:solid 1px #f1bcbe; line-height: 1.6em; font-size: 14px; }
    .formbox3 { margin: 0; padding: 20px; }
    .formfooter { margin: 26px 0 0; clear: both; }

    .formbox h3 { font-size: 18px; font-weight: bold; margin: 8px 0; padding: 0 0 8px; }
    .formbox p { margin: 0 0 16px; }
    .formbox ol, .formbox ul { margin: 0 20px 16px; }

    .inputtype { width:326px; padding:10px 5px; margin: 0; border:solid 1px #ccc; }
    .inputtypex { width:326px; padding:10px 5px; border:solid 1px #ccc; }

    .listyle { float:left; width: 170px ; padding:10px 0 0; text-align: right; }
    .listyle2 { float:left; width: 510px; padding:10px 0 0; }
    .listyle3 { float:left; width: 340px; padding:10px 0 0; }
    .listyle4 { float:left; width: 380px; padding:10px 0 0; text-align: center; }

    .titleplace { padding: 20px 10px; margin: 0 10px 15px; font-weight:700; font-size:18px; color:#666; line-height:1.1em; border-bottom:solid 1px #f1bcbe; }
    .titleplace2 { padding: 0 10px 16px; margin: 0; font-weight:700; font-size:18px; color:#ce242a; line-height:1.1em; border-bottom:solid 1px #f1bcbe; }
    .titleplacenoborder { padding: 10px 0; margin:0 20px 0; font-weight:700; font-size:18px;color:#666; line-height:1.1em; }

    .boxspot { background:#333; padding:0 20px; color:#ffffff; }
    #picspotplace { width: 90px; height: 90px; float:left; margin: 16px 16px 16px 0; padding: 5px; background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; }

    #spottext { width: 460px; height: auto;  margin: 16px 0; float:left; }
    #spottext2 { width: 740px; height: auto;  margin: 0; padding: 0; float:left; }
    #spottext3 { width: 635px; height: auto;  margin:0 16px; float:left; line-height: 40px; }

    #picpersonalplace { width:120px; height:120px; float:left; margin: 0 20px 0 0;  }

    #spottext ul, #spottext2 ul, #spottext3 ul { margin: 10px 0; padding: 0; clear: both; }

    .navlist li { margin: 0; padding: 0 10px; line-height: 2em; font-size: 15px; }

    .clearmargin { margin: 0 10px 0 10px; }

    .boxhiglight p { background-color:#fff; margin: 0 10px; }
    .boxhighlight4 { margin: 16px 0; padding: 0; }
    .boxhighlight4 ul li { list-style:none; margin: 0 0 20px; padding: 0; }

    .licontent { margin: 10px 0 0; min-height:66px; border-bottom:dashed 1px #999; }
    .licontent2 { margin: 10px 0 0; }

    .picplace { width:50px; float:left; margin-right: 10px; display: block; }
    .picplace2 { float:left; }
    .picplacep { width:80px; float:left; }

    .contplace2 { width: 180px; float:left; line-height:1.4em; padding: 0 0 10px; }
    .contplace { width: 545px; float:left; line-height:1.4em; padding: 0 0 10px 0; }
    .cont2place { width: 320px; float:left; line-height:1.4em; margin-left: 5px; padding: 0 0 10px 0; }
    .cont3place { width: 460px; float:left; line-height:1.4em; padding: 0 0 10px; }
    .cont5place { width: 365px; float:left; line-height:1.4em; padding: 10px 0; }
    .cont4place { width: 380px; float:left; line-height:1.4em; padding: 0 0 10px; }
    .iconplace { width: 50px; float:right; margin-left: 10px; display: block; }

    #children { margin: 0 10px; padding: 0; clear: both; }
    #children .title { padding: 15px 0; margin: 0 0 10px; font-weight:700; font-size:18px;color:#666666; line-height:1.1em; }
    #childs { list-style:none; margin: 0 0 10px; padding: 0; width: 600px; }

    .childs { list-style:none; margin: 0 10px 16px; padding: 0 0 10px; float: left; width: 280px; border-bottom: 1px dashed #999999; }
    .pic { float: left; margin: 0 10px 10px 0; padding: 0; }
    .desc { float: left; margin 5px; padding: 0; width: 220px; height: 69px; overflow: hidden;  }
    .all { margin: 5px 0 0; padding: 10px 0 5px; border-top: 1px solid #F1BCBE; text-align: right; font-size: 11px; line-height: 12px; }
    .child { margin: 0; padding: 0; min-height: 91px; }
    .child h4 { font-size: 15px; font-weight: bold; margin: 10px 0; padding: 0 0 8px; border-bottom: 1px solid #F1BCBE; }
    .child .childrens { margin: 0 5px; padding: 0; float: left; width: 50px; }

    #paging { text-align: right; margin: 16px 16px 0; padding: 0; clear: both; font-size: 13px; }
    #paging a { text-decoration: none; margin: 0 5px; color: #CE242A; }

    #footer { clear:both; min-height:62px; margin: 10px 0; text-align: left; line-height: 2em; }
    #footer a { margin: 0 8px; }
    #smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: block;}

}

/*	13-column layout
	60 px columns, 24 px gutters, 72 px margins, 1212 px total (extra space for scrollbars)
	---------------------------------------------------------------------------------------
	1     2      3      4      5      6      7      8      9      10     11     12     13
	60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px  984px  1068px	*/

@media only screen and (min-width: 1212px) {
    .maindiv { width: 1128px; }
	.navlist li { display: inline; list-style-type: none; }

    #topmenu { text-align:right; margin: 0 0 10px; padding: 0; }

    #idlogo { width:219px; height:189px; float:left; margin: 0 40px 0 0; text-indent: -9999px; background: url(../images/logo.png) no-repeat top left; }
    #idlogo a { width:219px; height:189px; display: block; }

    #hometagline { width:288px; height:189px; float:left; line-height: 1.3em; }
    #hometagline h1 { margin-top: 40px; color: #D32229; display: block; font-size: 33px; line-height: 28px; letter-spacing: -2px; }
    #hometagline p { color: #999; display: block; font-size: 25px; }

    #homeright { width:244px; height:144px; float:right; padding-top: 45px; display: block; }

    #btntxt { width:124px; height:71px; float:right; }
    #btnloc { width:86px; height:71px; float:right; }

    #left { float: left; width: 700px; padding: 0 0 20px 0; margin: 0 20px 36px 0; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
    #right { float: left; width: 406px; padding: 0 0 20px 0; background: #fff; margin: 0 0 36px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    #left2 { float: left; width: 550px; padding: 0; margin: 0 0 36px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
    #right2 { float: right; width: 553px; padding: 0; margin: 0 0 36px; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    #innerleft { padding: 0 0 20px 0; background:#fff; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
    #innerleft2 { padding: 0 0 20px 0; background:#fff; -webkit-border-radius: 9px; -moz-border-radius: 9px; }
    #innerright2 { padding: 0 0 20px 0; background:#fff; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    #middleone, #middleflex { margin: 24px 0 36px 0; padding: 26px; background:#fff; line-height:1.4em; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

    .signbox { padding: 0 0 20px; margin: 10px 0 0; border-bottom: solid 1px #f1bcbe; }

    .formbox { margin: 0; padding: 20px; border-bottom:solid 1px #f1bcbe; line-height: 1.6em; font-size: 14px; }
    .formbox3 { margin: 0; padding: 20px; }
    .formfooter { margin: 26px 0 0; clear: both; }

    .formbox h3 { font-size: 18px; font-weight: bold; margin: 8px 0; padding: 0 0 8px; }
    .formbox p { margin: 0 0 16px; }
    .formbox ol, .formbox ul { margin: 0 20px 16px; }

    .inputtype { width:326px; padding:10px 5px; margin: 0; border:solid 1px #ccc; }
    .inputtypex { width:326px; padding:10px 5px; border:solid 1px #ccc; }

    .listyle { float:left; width: 170px ; padding:10px 0 0; text-align: right; }
    .listyle2 { float:left; width: 510px; padding:10px 0 0; }
    .listyle3 { float:left; width: 340px; padding:10px 0 0; }
    .listyle4 { float:left; width: 380px; padding:10px 0 0; text-align: center; }

    .titleplace { padding: 20px 10px; margin: 0 10px 15px; font-weight:700; font-size:18px; color:#666; line-height:1.1em; border-bottom:solid 1px #f1bcbe; }
    .titleplace2 { padding: 0 10px 16px; margin: 0; font-weight:700; font-size:18px; color:#ce242a; line-height:1.1em; border-bottom:solid 1px #f1bcbe; }
    .titleplacenoborder { padding: 10px 0; margin:0 20px 0; font-weight:700; font-size:18px;color:#666; line-height:1.1em; }

    .boxspot { background:#333; padding:0 20px; color:#ffffff; }
    #picspotplace { width: 90px; height: 90px; float:left; margin: 16px 16px 16px 0; padding: 5px; background: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; }

    #spottext { width: 540px; height: auto;  margin: 16px 0; float:left; }
    #spottext2 { width: 850px; height: auto;  margin: 0; padding: 0; float:left; }
    #spottext3 { width: 635px; height: auto;  margin:0 16px; float:left; line-height: 40px; }

    #picpersonalplace { width:120px; height:120px; float:left; margin: 0 20px 0 0;  }

    #spottext ul, #spottext2 ul, #spottext3 ul { margin: 10px 0; padding: 0; clear: both; }

    .navlist li { margin: 0; padding: 0 10px; line-height: 2em; font-size: 15px; }

    .clearmargin { margin: 0 10px 0 10px; }

    .boxhiglight p { background-color:#fff; margin: 0 10px; }
    .boxhighlight4 { margin: 16px 0; padding: 0; }
    .boxhighlight4 ul li { list-style:none; margin: 0 0 20px; padding: 0; }

    .licontent { margin: 10px 0 0; min-height:66px; border-bottom:dashed 1px #999; }
    .licontent2 { margin: 10px 0 0; }

    .picplace { width:50px; float:left; margin-right: 10px; display: block; }
    .picplace2 { float:left; }
    .picplacep { width:80px; float:left; }

    .contplace2 { width: 265px; float:left; line-height:1.4em; padding: 0 0 10px; }
    .contplace { width: 610px; float:left; line-height:1.4em; padding: 0 0 10px 0; }
    .cont2place { width: 320px; float:left; line-height:1.4em; margin-left: 5px; padding: 0 0 10px 0; }
    .cont3place { width: 460px; float:left; line-height:1.4em; padding: 0 0 10px; }
    .cont5place { width: 440px; float:left; line-height:1.4em; padding: 10px 0; }
    .cont4place { width: 460px; float:left; line-height:1.4em; padding: 0 0 10px; }
    .iconplace { width: 50px; float:right; margin-left: 10px; display: block; }

    #children { margin: 0 10px; padding: 0; clear: both; }
    #children .title { padding: 15px 0; margin: 0 0 10px; font-weight:700; font-size:18px;color:#666666; line-height:1.1em; }
    #childs { list-style:none; margin: 0 0 10px; padding: 0; width: 680px; }

    .childs { list-style:none; margin: 0 10px 16px; padding: 0 0 10px; float: left; width: 320px; border-bottom: 1px dashed #999999; }
    .pic { float: left; margin: 0 10px 10px 0; padding: 0; }
    .desc { float: left; margin 5px; padding: 0; width: 260px; height: 69px; overflow: hidden;  }
    .all { margin: 5px 0 0; padding: 10px 0 5px; border-top: 1px solid #F1BCBE; text-align: right; font-size: 11px; line-height: 12px; }
    .child { margin: 0; padding: 0; min-height: 91px; }
    .child h4 { font-size: 15px; font-weight: bold; margin: 10px 0; padding: 0 0 8px; border-bottom: 1px solid #F1BCBE; }
    .child .childrens { margin: 0 5px; padding: 0; float: left; width: 50px; }

    #paging { text-align: right; margin: 16px 16px 0; padding: 0; clear: both; font-size: 13px; }
    #paging a { text-decoration: none; margin: 0 5px; color: #CE242A; }

    #footer { clear:both; min-height:62px; margin: 10px 0; text-align: left; line-height: 2em; }
    #footer a { margin: 0 8px; }
    #smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: block;}

}

