html,body {
    margin:0px;
    padding:0px;
    width:100%;
    background-color:#FFFFFF;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size:12px;
    color:#000000;
}

p {
    margin: 5px 2px;
    padding: 0px;
}

p a {
    color: #D22229;
    text-decoration: none;
}

p a:hover {
    color:#333;
    text-decoration: none;
}

a { text-decoration:none; color:#D22229;}
a:hover { text-decoration:none; color:#999999; }

.garis {
    margin: 5px 2px;
    border-bottom: 1px solid #F1BCBE;
}

.garisgrey {
    margin: 5px 2px;
    border-bottom: 1px solid #F2F2F2;
}

h1 {
    font-size: 14px;
    margin: 2px;
    padding: 0px;
    color: #CC0000;
}

h2 {
    margin: 2px;
    font-size: 13px;
    color: #000000;
}

#mheader {
    margin: 0px;
    padding: 0px;
}

#mheaderimg {
    margin: 10px 0 0 12px;
    padding: 0px;
    background: url(../images/smalllogo.png) #fff top no-repeat;
    width: 60px;
    height: 51px;
    float: left;
    border: 0;
}

#mheadertitle {
    margin: 10px 0 10px 15px;
    padding: 0px;
    float: left;
    font-size: 14px;
}

#mmain {
    margin: 10px 10px 0 10px;
    padding: 0px;
    border-top: 1px solid #CC0000;
}

#mform {
    margin: 5px 0 0 2px;
    padding: 0px;
}

#merror {
    margin: 0px;
    padding: 5px 8px;
    background: #F0EAEA;
    color: #333;
}

.txt {
    padding: 0 0 0 2px;
    background: #FFFFCC;
    border: 1px solid #ccc;
    color: #000;
    width: 225px;
    height: 20px;
}

.txtx {
    padding: 0 0 0 2px;
    background: #FFFFCC;
    border: 1px solid #ccc;
    color: #000;
    width: 450px;
    height: 20px;
}

.txtselect {
    background: #FFFFCC;
    border: 1px solid #ccc;
    color: #000;
    width: 225px;
}

.txtopt {
    background: #FFF;
}

.txtf {
    padding: 0 0 0 2px;
    background: #FFFFCC;
    border: 1px solid #ccc;
    color: #000;
}

.txta {
    padding: 0 0 0 2px;
    background: #FFFFCC;
    border: 1px solid #ccc;
    color: #000;
    width: 225px;
    height: 80px;
}

.sub {
    padding: 2px 5px;
    border: 1px solid #ccc;
    background: #D22229;
    color: #fff;
}

#lspro {
    margin: 0px 10px;
    padding: 0px;
}

#lspro ul {
    padding: 0 0 0 12px;
    list-style-type: decimal;
}

#lspro ul li {
    margin: 0px;
    padding: 0px;
    color: #000;
}

#setpro {
    margin: 2px 0;
    padding: 0px;
}

#custompro {
    margin: 0px;
    padding: 0px;
}

#custompro ul {
    color: #00F;
}

#setpro a:link,a:visited { text-decoration:none; color: #CC0000;}
#setpro a:hover { text-decoration:none; color: #ccc;}

#setpro span {
    color: #000;
    font-size: 12px;
}

#setpro ul {
    padding: 0 0 0 28px;
    margin: 0 0 4px 0;
    list-style-type: decimal-leading-zero;

}

#setpro ul li {
    padding: 2px 0;

}

#setpro ul li a.recent:link, a.recent:visited { text-decoration:none; color:#000;}
#setpro ul li a.recent:hover { text-decoration:none; color:#CCCCCC; }

#setpro img {
    float: left;
    border: 0px;
    margin: 5px 0 0 4px;
}

#setprotxt {
    float: left;
    margin: 5px 0 2px 10px;
    color: #000;
}

#mfooter {
    margin: 10px 10px 0 10px;
    padding: 0px;
    border-top: 1px solid #CC0000;
    color: #666;
}

a.extlink:link, a.extlink:visited { text-decoration:none; color:#000;}
a.extlink:hover { text-decoration:none; color:#CCCCCC; }

a.norlink:link, a.norlink:visited { text-decoration:none; color:#000;}
a.norlink:hover { text-decoration:none; color:#CCCCCC; }

#searchresult {
    margin: 0;
    padding: 0;
}

#searchresult ul {
    margin: 0;
    padding: 0 0 0 10px;
}

#searchresult ul li {
    padding: 4px;
    list-style: none;
}