#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#ccc;
    display:none;
}

#boxes .window {
    position:absolute;
    left:0;
    top:0;
    display:none;
    z-index:9999;
    padding:20px;
    margin: 100px auto;
}

#boxes #dialog {
    width:620px;
    padding:10px;
    background-color:#fff;
    border: 1px solid #999;
}

#boxes #dialogtitle {
    padding:10px 0 3px 5px;
    border-bottom: 1px solid #ccc;
}

#boxes h3 {
    margin:0; padding:0;
    font:bold 16px Arial, Helvetica,  sans-serif; color:#333;
}

#boxes #modalform {
    width:auto; height:auto;
    padding:5px;
}

#boxes div#modalform .largeinput {
    border:1px solid #ccc;
    color:#333;
    background-color:#fff;
    font-size:12px;
    padding:5px;
    margin:2px 0 0px 0;
}

#boxes div#modalform label.textarea textarea {
    border:1px solid #ccc;
    color:#666;
    font:normal 12px Arial, Helvetica, sans-serif; color:#333;
    width:98%; height:115px;
    padding:5px; margin:5px 0 0 0;
}

#boxes .statusupdateOK {
    width:auto;
    padding:5px 10px 5px 10px;
    margin-bottom:10px;
    background-color:#E7FEEC;
    border:1px solid #6C9;
    color:#690;
}

#boxes .statusupdateError {
    width:auto;
    padding:5px 10px 5px 10px;
    margin-bottom:10px;
    background-color:#FFC;
    border:1px solid #FC6;
    color:#C00;
}


#boxes .statusupdateicon {
    float:left;
}
#boxes .statusupdatedesc {
    padding:10px 0 0 10px;
    float:left;
}
#boxes .statusupdatedescError {
    padding:5px 0 0 10px;
    float:left;
}
#boxes .statusupdatedesc ul {
    margin: 0px 10px 10px 20px;
    padding:0px;
}

#boxes .statusupdatedesc ul li {
    margin: 0px 10px 5px 10px;
    padding:0px;
}