html,body {
    margin: 0px;
    padding: 0px 5px;
    background-color:#FFFFFF;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size:12px;
    color: #999;
	background: url('../images/tilebg.gif') ;
}

p {
    margin: 5px 0;
    padding: 0px;
	line-height: 18px;
}

a { text-decoration:none; color:#D22229;}
a:hover { text-decoration:none; color:#333; }

h1, h2, h3, h4, h5 {
    color: #333;
    margin: 2px 0 8px;
    padding: 3px 0;
	border-bottom: 1px solid #666;
}
h1 {
    font-size: 15px;
}
h2 {
    font-size: 13px;
}
ul { margin: 5px 0; padding: 0; }
ul li { list-style: none; padding: 3px 0; border-bottom: 1px dashed #666; }
div {}

input {}

#header {
	background: url(../images/tiletop.gif) top repeat-x;
	margin: 0px;
    padding: 10px 0 0;
}
#headerimg {
    background: url(../images/smalllogo.png) top no-repeat;
    margin: 5px 10px 0;
    padding: 0px;
    width: 60px;
    height: 51px;
    float: left;
    border: 0;
}
#headerimg a {
	text-indent: -9999px;
	display: block;
    width: 60px;
    height: 51px;
}
#headertitle {
    margin: 10px 0 0;
    padding: 0px;
}

#main {}

#top-profile {}
#top-text {}
#mid-profile {}
#fot-profile {}

#footer {
    margin: 5px 0 2px;
    padding: 3px 0;
	border-top: 1px solid #999;
}

.form {}
.error {}
.submit {}
.extlink {}
.clear { clear: both; }
.signup { text-align: center; }

.history-spot {}
.history-pin {}
.history-photo {}

.edit-profile {}
.edit-setting {}
.link-logout {}

/*
#container {
	width: 480px;
	min-height: 640px;
	margin: 0 auto;
}

#mheader {
    background: url(../images/tiletop.gif) top repeat-x;
	margin: 0px;
    padding: 15px 0 0;
}

#headerhome {
    background: url(../images/biglogo.png) top center no-repeat;
	margin: 0;
    padding: 0px;
	height: 420px;
}
#headerhome a {
	display: block;
	text-indent: -9999px;
	height: 400px;
}

#mheaderimg {
    background: url(../images/smalllogo.png) top no-repeat;
    margin: 10px 0 0 12px;
    padding: 0px;
    width: 60px;
    height: 51px;
    float: left;
    border: 0;
}

#mheadertitle {
    margin: 10px 0 10px 15px;
    padding: 0px;
    float: left;
    font-size: 14px;
}

#mmain {
    margin: 10px 10px 0 10px;
    padding: 0px;
	height: 450px;
}

#mmain h1 {
	color: #D22229;
	text-align: center;
	font-size: 26px;
	margin: 60px 0;
}

#mform, #signup {
    margin: 5px 0 0 2px;
    padding: 0px;
	text-align: center;
}

h2 {
	text-align: center;
	color: #000;
	font-size: 20px;
	margin: 100px 20px 40px;
	padding: 0;
}
#signup p {
	margin: 40px;
	padding: 0;
}
.img {
	margin: 120px 0 180px;
}
#merror {
    margin: 0px;
    padding: 5px 8px;
    background: #F0EAEA;
    color: #333;
}

.txt {
    padding: 0 0 0 2px;
    background: #FFFFCC;
    border: 1px solid #ccc;
    color: #000;
    width: 225px;
    height: 20px;
}

.txtx {
    padding: 0 0 0 2px;
    background: #FFFFCC;
    border: 1px solid #ccc;
    color: #000;
    width: 450px;
    height: 20px;
}

.txtselect {
    background: #FFFFCC;
    border: 1px solid #ccc;
    color: #000;
    width: 225px;
}

.txtopt {
    background: #FFF;
}

.txtf {
    padding: 0 0 0 2px;
    background: #FFFFCC;
    border: 1px solid #ccc;
    color: #000;
}

.txta {
    padding: 0 0 0 2px;
    background: #FFFFCC;
    border: 1px solid #ccc;
    color: #000;
    width: 225px;
    height: 80px;
}

.sub {
    padding: 2px 5px;
    border: 1px solid #ccc;
    background: #D22229;
    color: #fff;
}

#lspro {
    margin: 5px 10px;
    padding: 0px;
	text-align: left;
}

#lspro ul {
    padding: 0 0 0 12px;
    list-style-type: none;
}

#lspro ul li {
    margin: 0px;
    padding: 0px;
    color: #000;
}

#setpro {
    margin: 2px 0;
    padding: 0px;
}

#custompro {
    margin: 0px;
    padding: 0px;
}

#custompro ul {
    color: #00F;
}

#setpro a:link,a:visited { text-decoration:none; color: #CC0000;}
#setpro a:hover { text-decoration:none; color: #ccc;}

#setpro span {
    color: #000;
    font-size: 12px;
}

#setpro ul {
    padding: 0 0 0 28px;
    margin: 0 0 4px 0;
    list-style-type: decimal-leading-zero;

}

#setpro ul li {
    padding: 2px 0;

}

#setpro ul li a.recent:link, a.recent:visited { text-decoration:none; color:#000;}
#setpro ul li a.recent:hover { text-decoration:none; color:#CCCCCC; }

#setpro img {
    float: left;
    border: 0px;
    margin: 5px 0 0 4px;
}

#setprotxt {
    float: left;
    margin: 5px 0 2px 10px;
    color: #000;
}

#mfooter {
    padding: 10px;
    color: #D22229;
	text-align: center;
	font-weight: bold;
}
#mfooter a {
	color: #000;
}

a.extlink:link, a.extlink:visited { text-decoration:none; color:#000;}
a.extlink:hover { text-decoration:none; color:#CCCCCC; }

a.norlink:link, a.norlink:visited { text-decoration:none; color:#000;}
a.norlink:hover { text-decoration:none; color:#CCCCCC; }

#searchresult {
    margin: 0;
    padding: 0;
}

#searchresult ul {
    margin: 0;
    padding: 0 0 0 10px;
}

#searchresult ul li {
    padding: 4px;
    list-style: none;
}
*/