body { margin:0; padding:0; background: rgb(232,232,232); background-image:url(../images/tilebg.gif); font-family: verdana;}
p {margin: 0; padding: 0; font-size: 11px;}
h1 {font-size: 14px; margin: 0 0 10px 0; padding: 0;}
h2 {font-size: 11px; margin: 0 0 10px 0; padding: 0;}
h3 {font-size: 12px; margin: 0; padding: 0;}
h3 a {color: #D32229; text-decoration: none;}
h3 a:hover {color: #686868; text-decoration: underline;}
h4 {font-size: 11px; margin: 0; padding: 0;}
h4 a {color: #999; text-decoration: none; font-size: 14px;}
h4 a:hover {color: #D32229; text-decoration: underline;}

.clear {clear: both;}

#top { margin: 0; padding: 0; }
#logo { margin: 5px 12px; padding: 0; width: 100px; height: 85px; background: url(../images/midlogo.png) no-repeat top left; float: left;}
#titletop { margin: 0; padding: 18px 0 0 5px; font-size: 18px; float: left; line-height: 22px;}

.woozin { color: #D32229; font-size: 22px; letter-spacing: -2px; }
.join { color: #999; font-size: 20px; letter-spacing: -2px; }

#menu { margin: 0; padding: 2px 8px; font-size: 11px; text-align: right;}
#menu a {color: #686868; text-decoration: none;}
#menu a:hover {color: #D32229; text-decoration: underline;}

#loading {margin: 0; padding: 5px; text-align: center; display: none; background-color: #fff; -webkit-border-radius: 6px; -moz-border-radius: 6px;}
#error { background-color: #F0F0F0; margin: 5px; padding: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; color: #D32229; text-align: center; font-size: 12px; }
#error a {color: #D32229; text-decoration: none; font-size: 16px;}
#error a:hover {color: #686868; text-decoration: none;}

#formresult { background-color: #F0F0F0; margin: 5px; padding: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; color: #D32229; text-align: center; font-size: 12px; }

.inputtxt {width: 250px; height: 20px; border: 1px solid #ccc; padding: 2px;}
.inputsubmit {width: 60px; height: 22px; background-color: #000; border: 1px solid #ccc; color: #fff; font-size: 14px; padding: 0 0 2px 0; margin-top: 2px;}

#event {margin: 0; padding: 0; width: 98%; text-align: center; }
#maincontent { background-color: #fff; margin: 5px; padding: 10px; -webkit-border-radius: 6px; -moz-border-radius: 6px; font-size: 12px; }
#formrfid { background-color: #fff; margin: 5px; padding: 10px; -webkit-border-radius: 6px; -moz-border-radius: 6px; font-size: 12px; }
#formcode { background-color: #fff; margin: 5px; padding: 10px; -webkit-border-radius: 6px; -moz-border-radius: 6px; font-size: 12px; }
#formcodeedit { background-color: #fff; margin: 5px; padding: 10px; -webkit-border-radius: 6px; -moz-border-radius: 6px; font-size: 12px; }
#profile { background-color: #fff; margin: 5px; padding: 10px; -webkit-border-radius: 6px; -moz-border-radius: 6px; font-size: 12px; }

#presign { background-color: #F0F0F0; margin: 5px; padding: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; color: #000; text-align: left; font-size: 11px; }
#presign a {color: #333; text-decoration: none; font-size: 12px;}
#presign a:hover {color: #D32229; text-decoration: none;}
#formcoderesult { background-color: #F0F0F0; margin: 5px; padding: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; color: #D32229; text-align: center; font-size: 12px; }
#rfideditresult {background-color: #E8E8E8; margin: 2px; padding: 3px 0; font-size: 11px; display: none;}

#bottom {margin: 7px; padding: 2px; font-size: 11px; color: #656565; border-top: 1px solid #D32229;}