/*
	Less Framework 2, version 2.0
	by Joni Korpi
	-----------------------------
	http://lessframework.com
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object {
    display: block;
	background: #B6B6B6;
}

a { text-decoration: none; }
a img {border: 0;}
ul { list-style: none; }

img.placeborder { width: 20px; height: 20px;border: none;display: block !important; }

.clear { clear: both; }

input:focus, textarea:focus { border:solid 1px #666666; background-color:#FFFFCC; }

.Muse30015{ font-weight:300; margin:0; font-size:12px; color:#656565; }
.Muse30027 { font-weight:300; font-size:27px; color:#666666; }
.Muse70030 { font-weight:700; font-size:25px; color:#b18d57; }
.Muse30019x{ font-weight:500; font-size:19px; color:#990000; padding-top:20px; }
.Muse30019reg{ font-weight:700; font-size:19px; color:#990000; padding-top:20px; }
.Muse30018reg{ font-weight:600; font-size:16px; color:#666666; padding-top:20px; }
.Muse30021{ font-weight:300; font-size:19px; color:#424242; margin-top:16px; font-weight:600; }
.Muse30023{ font-weight:600; font-size:23px; color:#b18d57; }
.arial11 { font-family: Helvetica, Arial, sans-serif; font-weight:600; font-size:11px; color:#b18d57; text-decoration:none; }
.arial12 { font-family: Helvetica, Arial, sans-serif; font-weight:600; font-size:12px; color:#b18d57; text-decoration:none; }
.arial17 { font-family: Helvetica, Arial, sans-serif; font-weight:300; font-size:17px; color:#666666; }
.arial17reg { font-family: Helvetica, Arial, sans-serif; font-weight:300; font-size:17px; color:#666666; }

.redstyle { color:#b18d57; }
.listyle { float:left; width:175px; padding-top:10px; }
.inputtype { width: 240px; height:25px; border:solid 1px #cccccc; margin: 10px 0; }
.boxpopup { margin:14px 12px 0; }

#popuptitle { margin:0 12px 0; height:46px; border-bottom:solid 1px #f1bcbe; }
#popuptitleleft { float:left; width:88px;  }
#popuptitleright { float:right; width:168px; line-height:1.2em; }
.formfooter { margin-top:26px; }

.greystyle { color:#666666; }
.titlemember { font-family: Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#cc242b;  }
.descmember { font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#aaa;  }

a.topmenuhref:link {color:#686868; }
a.topmenuhref:visited {color:#686868; }
a.topmenuhref:hover {color:#ce242a; }

a.topmenuselected:link {color:#ce242a; }
a.topmenuselected:visited {color:#ce242a; }
a.topmenuselected:hover {color:#ce242a; }

a.Muse30019:link {color:#990000; }
a.Muse30019:visited {color:#990000; }
a.Muse30019:hover {color:#990000; }

::selection 	 {background: rgb(255,255,0);}
::-moz-selection {background: rgb(255,255,0);}

.home li { display: inline; list-style-type: none; border-right: 2px solid #999; padding: 0 10px; }
.spliter { margin: 0 10; color:#686868; width:1px; font-weight:300; font-size:15px; }
.navlist li { display: inline; list-style-type: none; }

body { background: #fff; }
header { margin: 0; height: 377px; background: #B6B6B6 top center no-repeat; }

.maindiv { margin: 0 auto; padding: 0; clear:both; }
#middleone { border-bottom: 2px solid #b18d57;}

#idlogo { text-indent: -9999px; }

#bigsign {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	background: #af0000;
	background: -moz-linear-gradient(top, #af0000 31%, #cc0000 87%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,#af0000), color-stop(87%,#cc0000));
	background: -webkit-linear-gradient(top, #af0000 31%,#cc0000 87%);
	background: -o-linear-gradient(top, #af0000 31%,#cc0000 87%);
	background: -ms-linear-gradient(top, #af0000 31%,#cc0000 87%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af0000', endColorstr='#cc0000',GradientType=0 );
	background: linear-gradient(top, #af0000 31%,#cc0000 87%);

	padding: 20px;
	margin: 0px auto;
	text-align: center;
	color:#fff !important;
	font-weight:bold;
}
#bigsign a { display: block; margin:0; padding:3px; }

.signbox { margin: 0 0 10px; padding: 5px; border-bottom: 2px solid #b18d57; }

.formbox {text-align: left; line-height: 25px; padding: 0 20px 10px; margin-bottom: 20px; }
.formbox blockquote { margin: 5px 5px 10px; padding: 5px; border: 2px dashed #b18d57; 
background: #d3b17e; color: #000; font-size: 12px; text-align: center; }
.formbox h3 { padding: 5px 0; }
.formbox a { display: block; }

.titleplace { font-weight:300; font-size:25px; color:#d32229; }
.titleplace2 { font-weight:300; font-size:25px; color:#d32229; }
.boxhiglight { padding: 10px 0 20px; margin: 16px 0; background-color:#FFFFFF; -webkit-border-radius: 9px; -moz-border-radius: 9px; }

.clearmargin { margin: 0 10px 0 10px; }

.licontent { margin:10px 0 0; min-height:66px; border-bottom:dashed 1px #999; }

#picpersonalplace, #spottext2, .picplacep { float: left; margin: 0 8px 8px 0; }
.picplace { width:50px; float:left; margin-right: 10px; }
.contplace { width:265px; float:left; line-height:1.4em; padding: 0 0 10px 0; }
.iconplace { width:50px; float:right; margin-left: 10px; }
.cont2place { width:320px; float:left; line-height:1.4em; margin-left: 5px; padding: 0 0 10px 0; }

.redstylemuda { color: #B18D57; }

#footer {
    line-height: 2em;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

#footer a { margin: 0 8px; }
#smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: block;}

.maindiv { width: 557px; }

.warn {
	background: #fff;
	padding: 15px;
}