/**
*WOOZ.IN:WALLS BUAVITA
 @author      Zoeldt <zoel@think.web.com>
 @version     1.0
 @copyright   Copyright (c) 2011, Think Web
**/
/*reset*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,em,img,strong,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline}
body{line-height:1}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
strong{font-weight:bold}
/*clearfix*/
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.clearfix{display:block}
html[xmlns] .clearfix{display:block}
* html .clearfix{height:1%}
/*text rule*/
body{font:12px Verdana, Geneva, sans-serif;line-height:normal;color:#884536;background:url(../img/bg.jpg) repeat center top}
a{color:#480d00;text-decoration:none}
a:hover{color:#d52229}
a:focus{outline:none}
/*general*/
#container{margin:0 auto;position:relative}
#logo{display:block;width:582px;height:197px;position:fixed;top:0;left:0;background: url(../img/logo.png) no-repeat 0 0}
#buavita{display:block;width:507px;height:434px;position:fixed;bottom:0;right:0;background: url(../img/buavita.png) no-repeat 0 0;z-index:2}
#content{position:relative;margin-top:175px;text-shadow:0 1px 1px #511500}
#footer{position:fixed;bottom:0;margin:0 0 10px 8%;padding-left:70px;background:url(../img/smalllogo.png) no-repeat left top;z-index:1}
#footer li{font-weight:bold;float:left;margin-right:10px;padding-right:10px;border-right:1px solid #884536;margin-bottom:10px}
#footer li:last-child{border:none}
#footer p{font-weight:bold;margin-bottom:5px;font-size:10px}
#cloud{background:url(../img/whitegradient.png) repeat-x 0 0;width:100%;height:200px;display:block;position:fixed;bottom:0}
.box{display:block;text-align:center}
.box .inner{background:url(../img/browntrans.png) repeat 0 0;-moz-border-radius:5px;padding:20px;color:#fff;font-size:14px;font-weight:bold;display:inline-block;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;position:relative;text-align:left}
#statement .inner{padding-right:90px;padding-left:25px;line-height:25px}
#fb-connect{}
#fb-connect .inner{-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;padding:0 25px 25px 25px}
#fb-connect p{background:#fff;padding:13px 15px 10px 15px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;z-index:3;position:relative}
#fb-connect p:hover{background:#ccc}
#fb-connect a{position:relative;z-index:4}
#woodsign{position:absolute;top:-115px;right:-70px}
#corner-left, #corner-right{background-image:url(../img/corner.png); background-position:no-repeat; display:block; width:10px; height:10px;position:absolute;top:0}
#corner-left{background-position:0 0; left:-34px}
#corner-right{background-position:right 0; right:-34px}
/*misc*/
.left{float:left}
.center{text-align:center}
.relative{position:relative}
.no-margin{margin:0}
.underline:hover{color:#ffea00}
@media screen and (max-width: 1100px){
	#footer{margin-left:1%}
}