html, body, a { margin: 0px; padding: 0px; background: #fff; color: #851916; }
body {
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
a { text-decoration: none; }

#ref { text-align: left; font-size: 14px; font-weight: bold; display: block; margin: 280px 25px 0; margin-left: 1100px;}
#ref a { border: 2px solid #b79246; padding: 6px 20px; }

a:hover { background: #ccc; }
#message {line-height: 90%;}
#choice, .clear { clear: both; }
.left { float: left; }
.right { float: right; }
#form { padding-top: 200px; }
#preview { z-index: 1; }
.frame_overlay { position: absolute; z-index: 9999; }
#notes { font-size: 30px; }
#wrap {
    margin: 2px auto 0;
    padding: 0;
    width: 1270px;
    height: 1014px;
    border: 1px solid #851916;
    display: block;
	/*
    overflow: hidden;
	*/
}
#refresh {
	clear: both;
	position: absolute;
	text-align: right;
	top: 930px;
	right: 50px;
	font-size: 30px;
}
a.refresh {
	text-decoration: none;
	border: 1px solid #851916;
	padding: 7px 20px;
}
a.refresh:hover {
	text-decoration: none;
	padding: 7px 20px;
}
#webcam, #canvas, .frame_overlay, #canvas_set, .overlay {
    width: 1000px;
    height: 750px;
}
#photo, .overlay1{
    width: 640px;
    height: 480px;
}

#webcam, #canvas_set, #photo {
    margin: 10px auto;
    border: 20px solid #333;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	overflow: hidden;
}
#canvas_set,#photo { border:20px solid #ccc; }
object {
    display:block; /* HTML5 fix */
    position:relative;
    z-index:1;
}
#status {
	margin-top: 20px;
	font-size: 50px;
    text-align: center;
}
#choices { text-align: center; width: 972px; margin: 10px auto; }
.link {
	border: 2px solid #851916;
	display: block;
	padding: 5px 0;
	margin: 0 10px ;
	width: 300px;
	float: left;
	font-size: 70px;
}
#finish{
	margin-left: 350px;
	margin-right: 150px;
	font-size: 45px;
	width: 250px;
}
#tagbutton{
	margin-left: -40px;
	margin-right: 150px;
	font-size: 45px;
	width: 250px;
}
#navigation {
	clear: both;
}
.top {
	border: 2px solid #851916;
	display: block;
	padding: 5px 0;
	margin: 10px 5px ;
	width: 100px;
	float: right;
	font-size: 14px;
}
.top_flash {
	border: 2px solid #851916;
	display: block;
	padding: 5px 0;
	margin: 10px 5px 0;
	width: 100px;
	float: right;
	font-size: 14px;
}

#tagsource
{
left: 0px; top: 0px;
}

#tag-wrapper
{
font-size: 15px;
border: 1px solid #ccc;
box-shadow: 0px 0px 20px #bbb;
-webkit-box-shadow: 0px 0px 20px #bbb;
-moz-box-shadow: 0px 0px 20px #bbb;
width: 640px; height: 480px;
position: absolute;
display: block;
padding: 0px;
}

	#tag-target, #tag-wrapper img { cursor: default; }
	
	#tag-wrapper img { position: absolute; }
	
	#tag-target
	{
	width: 100px; height: 100px;
	display: none;
	border: 4px solid #fff;
	box-shadow: 0px 0px 10px #bbb;
	-webkit-box-shadow: 0px 0px 10px #bbb;
	-moz-box-shadow: 0px 0px 10px #bbb;
	padding: 10px;
	position: relative;
	}
	
	#tag-input
	{
	background: #fff;
	display: none;
	padding: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 137px;
	z-index: 2;
	}
	
		#tag-input label
		{
		display: block;
		font-weight: bold;
		}
		
		#tag-input input
		{
		border: 1px solid #ccc;
		color: #888;
		display: block;
		margin: 5px 0px;
		outline: 0px;
		padding: 3px;
		width: 124px;
		}
	
	.hotspot
	{
	border-width: 0px;
	border: 4px solid #fff;
	box-shadow: 0px 0px 10px #bbb;
	-webkit-box-shadow: 0px 0px 10px #bbb;
	-moz-box-shadow: 0px 0px 10px #bbb;
	height: 120px;
	width: 120px;
	position: absolute;
	}
	
		.hotspot:hover, .hotspothover
		{
		border: 4px solid #fff;
		box-shadow: 0px 0px 20px #000;
		-webkit-box-shadow: 0px 0px 20px #000;
		-moz-box-shadow: 0px 0px 20px #000;
		z-index: 1;
		}
		
		.hotspot span { display: none; }
		.hotspot:hover span, .hotspothover span
		{
		background: #fff;
		display: block;
		font-weight: bold;
		padding: 3px 0px;
		text-align: center;
		}
.remove { color: #748950; cursor: pointer; text-decoration: underline; }