html, body { margin: 0px; padding: 0px; background: #fff; color: #851916; }
body {
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
a { text-decoration: none; color: #851916; }
/*
input { width: 100px; height: 20px; background: #fff; border:1px solid #ccc; }
*/
input { width: 1px; height: 1px; background: #fff; border:0; }

.bordering {
    border: 1px solid #851916;
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 700px;
}

#container {
    margin: 2px auto 0;
    padding: 0;
    width: 1010px;
    height: 758px;
    border: 1px solid #851916;
    display: block;
 /*   overflow: hidden;
*/}

#form { margin: 200px auto 0; }
#input { clear: both; text-align: center; height: 10px; }
#inputupload, #inputtag { margin:0; padding: 0; height: 2px; float: left; }

#form .error { margin: 20px 30px; padding: 10px; border: 5px solid #c38383; background: #f1dcdb; color:#b41919; }
#form2 .error {  margin: 45px 30px; padding: 10px; border: 5px solid #c38383; background: #f1dcdb; color:#b41919; font-size: 40px; }

#errormsg { margin: auto 0; }
#errormsg .error { margin: 20px 30px; padding: 10px; border: 5px solid #c38383; background: #f1dcdb; color:#b41919; }

#photo, #tag-wrapper { margin: 40px auto 0; width:640px; height: 480px;  }

#button, #tag-other { margin-top: 40px; clear: both; }
#done, #tag { width: 430px; margin: 0 20px; padding: 10px 0; background: #fff; border: 4px solid #851916; }
#done { text-align: center; float: left; }
#tag { text-align: center; float: right; }
#done a { display: block; }
#tag a { display: block; }


#tag-welc { font-size: 60px; clear:both; }
#tag-welc2 { font-size: 30px; margin: 20px 0 -30px; clear:both; }

#tag-target, #tag-wrapper img { cursor: crosshair; }

#tag-target
{
    display: none;
    border: 4px solid #fff;
    box-shadow: 0px 0px 20px #ddd;
    -webkit-box-shadow: 0px 0px 20px #ddd;
    -moz-box-shadow: 0px 0px 20px #ddd;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

#tag-input
{
    background: #fff;
    display: none;
    padding: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 137px;
    z-index: 2;
}

#tag-input label
{
    display: block;
    font-weight: bold;
}

#tag-input input
{
    border: 1px solid #ccc;
    color: #888;
    display: block;
    margin: 5px 0px;
    outline: 0px;
    padding: 3px;
    width: 124px;
}

.hotspot
{
    font-size: 14px;
    border-width: 0px;
    box-shadow: 0px 0px 0px #ddd;
    -webkit-box-shadow: 0px 0px 0px #ddd;
    -moz-box-shadow: 0px 0px 0px #ddd;
    height: 150px;
    width: 150px;
    position: absolute;
}

.hotspot:hover, .hotspothover
{
    border: 4px solid #fff;
    box-shadow: 0px 0px 20px #ddd;
    -webkit-box-shadow: 0px 0px 20px #ddd;
    -moz-box-shadow: 0px 0px 20px #ddd;
    z-index: 1;
}

.hotspot span { display: none; }
.hotspot:hover span, .hotspothover span
{
    background: #fff;
    display: block;
    font-weight: bold;
    padding: 3px 0px;
    text-align: center;
}

.remove { color: #748950; cursor: pointer; text-decoration: underline; }

#ref { text-align: left; font-size: 14px; font-weight: bold; display: block; margin: 280px 25px 0;}
#ref a { border: 2px solid #851916; padding: 6px 20px; }

.gallery-list { width: 330px; float: left; padding: 10px 0; }