@charset "UTF-8";
/* CSS Document */

body {
  background-color:#393e43;
  color:#444
}

a {
	color:#cd3a39;	
}

a:hover {
	color:#a52423;
	text-decoration:none	
}

h2.titlesection {
	font-size:30px;
	line-height:34px;
	margin:0px;
	padding:5px 0 10px;
	font-weight:300;
	font-family: 'Museo300Regular', arial;
	color:#333;	
}

h2.titlesection-s {
	font-size:22px;
	line-height:34px;
	margin:0px;
	padding:5px 0 10px;
	font-weight:500;
	font-family: 'Museo500Regular', arial;
	color:#333;	
}

.txt-center {
	text-align:center;	
}
.txt-left {
	text-align:left;	
}

/* fonts
-----------------------------------------*/
@font-face {
    font-family: 'Museo300Regular';
    src: url('../fonts/Museo300-Regular-webfont.eot');
    src: url('../fonts/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo300-Regular-webfont.woff') format('woff'),
         url('../fonts/Museo300-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Museo300-Regular-webfont.svg#Museo300Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo500Regular';
    src: url('../fonts/Museo500-Regular-webfont.eot');
    src: url('../fonts/Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo500-Regular-webfont.woff') format('woff'),
         url('../fonts/Museo500-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Museo500-Regular-webfont.svg#Museo500Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoThin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium-webfont.eot');
    src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


.btn {
	border-radius:2px;	
}

.btn-primary {
	background:#bb1119;	
}

	
/*** ---- BUTTON ---- ***/
.btn-primary {  
	color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #e64c00;
  *background-color: #e64c00;
  background-image: -moz-linear-gradient(top, #ea413d, #bd1f26);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ea413d), to(#bd1f26));
  background-image: -webkit-linear-gradient(top, #ea413d, #bd1f26);
  background-image: -o-linear-gradient(top, #ea413d, #bd1f26);
  background-image: linear-gradient(to bottom, #ea413d, #bd1f26);
  background-repeat: repeat-x;
  border-color: #bd1f26;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc7200', endColorstr='#e64c00', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #bd1f26;
  *background-color: #bd1f26;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #e64c00 \9;
}

/*** ---- FORM INPUT ---- ***/
.modal-header { background: #88969f; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3JSIgc3RvcC1jb2xvcj0iIzg4OTY5ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YzcxNzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #88969f 7%, #6c7177 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,#88969f), color-stop(100%,#6c7177)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #88969f 7%,#6c7177 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #88969f 7%,#6c7177 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #88969f 7%,#6c7177 100%); /* IE10+ */
background: linear-gradient(to bottom,  #88969f 7%,#6c7177 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88969f', endColorstr='#6c7177',GradientType=0 ); /* IE6-8 */
	border-bottom:1px solid #4e5156; color:#fff; border-radius:4px 4px 0 0
}
.modal-header h4 { padding:0px; margin:3px 0 0; }
.modal-body { background:#f6f6f6; border-radius:0 0 4px 4px; max-height: 450px; padding:10px 0 30px }
.modal-body .radioinput { float:left; padding-top:1px; }
.modal-body .labelradioinput { float:left; padding:4px 30px 0 3px; font-weight:bold }


.row-input { width:100%; margin:0px 0 0px 0; padding:0px; clear:both; overflow:hidden; background:none }
label.labelin { width:28%; display:block; margin:0px; padding:9px 0 0; float:left; text-align:right; font-size:12px; line-height:14px; color:#666; background:none }
.fieldright { width:70%; float:right; background:none }
textarea.txtarea, input.txtin { 
	width:67%; 
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.notesfield { font-size:11px; margin-bottom:20px; }
.fileupload, .input-append { margin-bottom:0px!important; }

.sublabel { font-size:11px; line-height:15px; display:block; padding-top:10px; }


/* 
============= HEADER ============= */
.header {
  background-color:#f2f2f4; 
	padding:0px 0 5px; 
}

h1.titlelogo {
 background:red; margin:0px; padding:0px;	
}

.navbar { 
	padding:0px; 
	margin:0px; 
	padding-right:0px;
}
.navbar .nav {
	padding-top:18px;
}


.navbar-inner { 
	padding:0px; 
	border:0px; 
	border-radius:0px; 
	background:none;
	background-image:none;
	box-shadow:none; 
	font-family: 'Museo300Regular', arial;
	font-size:17px;
	filter:none;
}
.nav a {
	color:#c2272e!important;
}
a.select {
	color:#666!important;
	background:none;
	box-shadow:none;	
	}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #c2272e;
  background-color: #f2f2f4;
}

a.dropdown-toggle {  padding-right:0px!important; }

.divider-vertical { border-right: 1px solid #ccc!important;
  border-left: 0px solid #ccc!important; }

/* 
============= SLIDER-BANNER ============= */
.banner { 
	background:#f2f2f4 
}

/* Slider nivo */
.slider-wrapper { 
	width: 100%; 
	margin:0 auto 0;
}

/* 
============= MIDDLE ============= */
.middle {
  background-color:#f2f2f4  
}

.middle-inside {
  background:#f2f2f4 url(../img/dividerone.png) no-repeat top center;  
}



/*
============= FOOTER ============= */
.footer-spacer {
	height:30px;
	background:#f2f2f4 url(../img/dotfooter.png);	
}
.footer {
	border-top:10px solid #b41b11;
  background-color:#393e43;
	color:#818b8d;
	font-size:12px;
	padding:20px 0 20px;  
}

.footer p {
	margin-bottom:5px;	
}

.footer a {
	color:#bbb;
}

.footer a:hover {
	color:#ccc;	
}
	
.menufooter {
	text-align:right;	
}

.somedfooter {	
	margin-top:10px;
}

.somedfooter img {
	margin-left:2px;	
}

.icon-addon {
	display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
	background-image:url(../img/icon-addon.png);
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

.icon-phone {
	 background-position: 0px 0px;
	}

span.address-footer {
	
}
span.telp-footer {}
span.email-footer {}



/* HOME
========================================= */
.item-service-home {
	margin:0 20px 30px; 
	background: none;
	font-size:14px;
	text-align:center;
	font-family: 'RobotoLight', arial;
	color:#626262;
}

p.introtexthome {
	font-family: 'RobotoThin', arial;
	font-size:38px;
	line-height:43px;
	text-align:center;
	margin:10px 0 30px;
	padding-left:150px;
	padding-right:150px;
	color:#444;	
}

.dividerone {
 display:block;
 margin:0 auto;	
}

.partner-home {
	padding:40px 0 40px
}

.partners-slide {
	padding:00px 0 10px
}


/* SINGLE PAGE
========================================= */
.introtextborder {
	border-top:1px solid #ccc;	
}
p.introtext {
	font-family: 'RobotoThin', arial;
	font-size:38px;
	line-height:43px;
	margin-top:20px;
	color:#70737b;	
}
p.introtext-exc {
	font-size:18px;
	line-height:25px;
	color:#777;
	font-family: 'RobotoLight', arial;	
}

.breadcrumb {
	margin-top:10px;
	padding:10px 0 0px;
	background:none;
	border-radius:0px;
	font-size:12px;
	text-align:right;	
	color:#999
}

.breadcrumb .icon-home {
	opacity:0.5;
	margin-top:-1px;
}

.contentsingle {
	padding-top:30px;
	padding-bottom:30px;
	border-top:0px solid #ccc;	
}

.partner-singlepage {
	paddding-top:10px;
	padding-bottom:40px;
}
ul#partnerlist { margin:0px; padding:0px; list-style-type:none;  }
ul#partnerlist li { margin:0px; padding:0px; list-style-type:none; display:inline-block }
ul#partnerlist li img { width:140px; display:block }


.ourservices {
	margin-bottom:10px;
	padding-bottom:30px;
	}
	
.servicesdivider {
	border-bottom:1px solid #ddd;
	margin-bottom:60px;
	}	



/* Partner Carousel */
.list_carousel {
	background-color: none;
	margin: 0 0 0px 0px;
	position:relative;
	text-align:center
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	font-size: 40px;
	color: #999;
	text-align: center;
	background-color: #eee;
	width: 200px;
	height: 120px;
	padding: 0;
	margin: 9px;
	display: block;
	float: left;
}

.list_carousel li a { 
	width:200px; height:120px; 
	display:block; 
}

.list_carousel li a { 
	border:1px solid #f2f2f4 
}
.list_carousel li a:hover { 
	border:1px solid #ddd 
}

.list_carousel li a img { }
.list_carousel li a:hover img { 
	opacity:1 
}
 

.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}

.prev {
	display:inline-block;
	background:red;
	width:40px;
	height:40px;
	background:url(../img/arrowred.png) no-repeat top left;
	text-indent:-9999px;
	position:absolute;
	top:50px;
	left:0px;
}
.prev:hover {
	background-position:bottom left;
}
.next {
	display:inline-block;
	background:red;
	width:40px;
	height:40px;
	background:url(../img/arrowred.png) no-repeat top right;
	text-indent:-9999px;
	position:absolute;
	top:50px;
	right:0px;
}
.next:hover {
	background-position:bottom right;
}



/* RESPONSIVE CSS
    -------------------------------------------------- */


@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
		
  }
	.span1, .span5, .span6 {
		text-align:center
	}
}

@media (max-width: 480px) {
	body {
    padding-right: 0px;
    padding-left: 0px;
		
  }
	.container { 
		padding:0px 20px; 
	}
	.span1, .span5, .span6 {
		text-align:center
	}	
	.contactwoozin {
		margin-bottom:20px;	
	}
}
	
	