html, body, a { margin: 0px; padding: 0px; background: #fff; color: #851916; }
body {
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
a { text-decoration: none; }

#ref { text-align: left; font-size: 14px; font-weight: bold; display: block; margin: 280px 25px 0; margin-left: 1100px;}
#ref a { border: 2px solid #b79246; padding: 6px 20px; }

input { width: 1px; height: 1px; background: #ff; border:0; } 
a:hover { background: #ccc; }
#message {line-height: 90%;}
#choice, .clear { clear: both; }
.left { float: left; }
.right { float: right; }
#form { padding-top: 200px; }
#preview { z-index: 1; }

#notes { font-size: 50px; font-weight: bold;}
#wrap {
    margin: 2px auto 0;
    padding: 0;
    width: 1270px;
    height: 1014px;
    border: 0px solid #851916;
    display: block;
    padding-top: 20px; padding-bottom: 20px;
    /*
overflow: hidden;
    */
}

#komik{
    float:left;
    /* width:600px; */
    width:702px;
    height:1014px;
    position:relative;
    border: 1px solid #851916;
}

#panel{
    float:right;
    /* width:600px; */
    width: 550px;
    height:1014px;
}

#refresh {
    clear: both;
    position: absolute;
    text-align: right;
    top: 930px;
    right: 50px;
    font-size: 30px;
}
a.refresh {
    text-decoration: none;
    border: 1px solid #851916;
    padding: 7px 20px;
}
a.refresh:hover {
    text-decoration: none;
    padding: 7px 20px;
}
.frame_overlay{
    /* background: transparent url(http://woozin.tgrid.in/uploads/photoframe/komik-dio2013.png) 0 0 no-repeat;
     background: transparent url(main_content_bg.jpg) 0 0 no-repeat; */
    width:600px;
    height:1004px;
    left: 50px;
    position: absolute; z-index: 9999;
}
.overlay {
    width: 600px;
    height:1014px;
}
#preview{
    left: -100px; 
    right: 0px; 
    top: 210px; 
    bottom: 0px; 
    width: 460px; height: 743px; margin-top: 220px;
}

#canvas,  #canvas_set {
    position:relative;
    width: 600px;
    height: 956px;
}
#webcam {
    /* background: transparent url(http://woozbeta.local/uploads/photoframe/djarum.png) 0 0 no-repeat; */
    position:relative;
    width:600px;
    height:1004px;
    z-index: 9999!important;
    /* padding-top: 255px; padding-left: -15px; */
}

object {left: 70px; width: 490px; height: 710px; top: 250px;
    display:block;
    position:relative;
    z-index:-1;
}

.link {
    border: 2px solid #851916;
    display: block;
    padding: 5px 0;
    margin: 0 10px ;
    width: 300px;
    float: left;
    font-size: 70px;
}
#choices{
    text-align: center; 
    margin-left: 100px;

}
#input,#status,#choice{
    margin-top: 250px;
    text-align: center; 
}

#navigation {
    clear: both;
}
.top {
    border: 2px solid #851916;
    display: block;
    padding: 5px 0;
    margin: 10px 5px ;
    width: 100px;
    float: right;
    font-size: 14px;
}
.top_flash {
    border: 2px solid #851916;
    display: block;
    padding: 5px 0;
    margin: 10px 5px 0;
    width: 100px;
    float: right;
    font-size: 14px;
}

#tagsource
{
    left: 0px; top: 0px;
}

#tag-wrapper
{
    font-size: 15px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 20px #bbb;
    -webkit-box-shadow: 0px 0px 20px #bbb;
    -moz-box-shadow: 0px 0px 20px #bbb;
    width: 640px; height: 480px;
    position: absolute;
    display: block;
    padding: 0px;
}

#tag-target, #tag-wrapper img { cursor: default; }

#tag-wrapper img { position: absolute; }

#tag-target
{
    width: 100px; height: 100px;
    display: none;
    border: 4px solid #fff;
    box-shadow: 0px 0px 10px #bbb;
    -webkit-box-shadow: 0px 0px 10px #bbb;
    -moz-box-shadow: 0px 0px 10px #bbb;
    padding: 10px;
    position: relative;
}

#tag-input
{
    background: #fff;
    display: none;
    padding: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 137px;
    z-index: 2;
}

#tag-input label
{
    display: block;
    font-weight: bold;
}

#tag-input input
{
    border: 1px solid #ccc;
    color: #888;
    display: block;
    margin: 5px 0px;
    outline: 0px;
    padding: 3px;
    width: 124px;
}

.hotspot
{
    border-width: 0px;
    border: 4px solid #fff;
    box-shadow: 0px 0px 10px #bbb;
    -webkit-box-shadow: 0px 0px 10px #bbb;
    -moz-box-shadow: 0px 0px 10px #bbb;
    height: 120px;
    width: 120px;
    position: absolute;
}

.hotspot:hover, .hotspothover
{
    border: 4px solid #fff;
    box-shadow: 0px 0px 20px #000;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    z-index: 1;
}

.hotspot span { display: none; }
.hotspot:hover span, .hotspothover span
{
    background: #fff;
    display: block;
    font-weight: bold;
    padding: 3px 0px;
    text-align: center;
}
.remove { color: #748950; cursor: pointer; text-decoration: underline; }
.css3button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight:bold;
    color: #ff0000;
    padding: 20px 20px;margin-top: 30px;
    background: -moz-linear-gradient(
        top,
        #ffffff 0%,
        #ffffff 50%,
        #d6d6d6);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#ffffff),
        color-stop(0.50, #ffffff),
        to(#d6d6d6));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #fa0808;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.1),
        0px 1px 0px rgba(255,255,255,1);
}
.css3button:hover {
    background: -moz-linear-gradient(
        top,
        #d6d6d6 0%,
        #ffffff 50%,
        #ffffff);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#d6d6d6),
        color-stop(0.50, #ffffff),
        to(#ffffff));
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #fa0808;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.5),
        inset 0px 0px 3px rgba(255,255,255,1);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.1),
        0px 1px 0px rgba(255,255,255,1);
}

/*
#webcam {
width: 291px;
height: 298px;
/* padding-top: 255px; padding-left: -15px; 
}
#photo, .overlay1{
width: 291px;
height: 298px;
}

#webcam, #canvas_set, #photo {
margin: 10px auto;
overflow: hidden;
}
object {
display:block; /* HTML5 fix 
position:relative;
z-index:1;
}
*/