/*
	Less Framework 2, version 2.0
	by Joni Korpi
	-----------------------------
	http://lessframework.com
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

a { text-decoration: none; }
a img { border: 0; }
a:hover { color:#eee; text-decoration:none}
ul { list-style: none; }
p { margin-bottom: 8px; }

#container {
	margin: 0px auto;
	width: 900px;
	height: 640px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	overflow: hidden;
	background: #333;
}

#section-top {
	text-indent: -9999px;
	height: 200px;
	overflow: hidden;
}
#section-top a { display: block; height: 200px; }

#section-side {
	text-indent: -9999px;
	width: 400px;
	height: 440px;
	float: right;
}

#main-box {
	padding: 20px;
	width: 450px;
	min-height: 340px;
	float: left;
}

#footer { width: 500px; font-size: 12px; text-align: left; margin: 0; padding: 5px 0 0; line-height: 1.7em; }
#footer a { margin: 0 8px; font-size: 12px; }
#footer a.home { margin-left: 0; }
#smalllogo { margin: 0 20px; vertical-align: middle; float: left; display: block;}

.clear { clear: both; }

input:focus, textarea:focus { border:solid 1px #666666; background-color:#FFFFCC; }

.error { border: 1px dashed #b18d57; color: #b18d57; padding: 5px 8px; font-size: 12px; }
.redstyle { color:#b18d57; }
